:host {
	display: block;
	.ui.cards .ui.card.widget-container {
		box-shadow: none;
	}

	.ui.cards {
		.ui.card {
			width: 245px;

			/deep/ .widget-header {
				background-color: orange;
				padding: .5em .5em;
			}

			/deep/ .widget-button {
				cursor: pointer;
			}

			/deep/ .widget-body {
				display: flex;
				flex-direction: row;
			}

			/deep/ .widget-icon {
				height: 60px;
			}

			/deep/ .widget-text {
				flex: auto;
				color: black;
				line-height: normal;
				font-size: 50px;
			}
		}
		.ui.card.hidden {
			display: none;
		}

		.ui.card.error {
			/deep/ .widget-text {
				flex: auto;
				color: gray;
				line-height: normal;
				font-size: 50px;
			}

			/deep/ .widget-header {
				background-color: #bcbec0;
				padding: .5em .5em;
			}
		}
	}
}