<form class="ui delete role modal error form" #deleteRoleForm="ngForm" (submit)="onSubmitDeleteRole()">
	<div class="header">
		<h2 class="ui header"><i class="trash outline red icon"></i> Are you sure?</h2>
	</div>
	<div class="content">
		<div class="ui description">
			<p>You are about to delete the following Role:
			</p>
			<p>
				<br>Role URI:<strong> {{role}}</strong>
			</p>
			<br>
			<p>
				<span>If you delete it, every reference made to this role will also be deleted.</span><br>
				<span>Do you really want to proceed?</span>
			</p>
			<cw-message *ngFor="let errorMessage of errorMessages; let i = index;" [message]="errorMessage" [type]="'error'" [closable]="true" (onClose)="removeErrorMessage(i)"></cw-message>
		</div>
	</div>
	<div class="actions">
		<button class="ui black deny button" title="Cancel deletion" type="button"
		        [disabled]="deletingRole"
		        (click)="hideDeleteRoleForm()">No
		</button>
		<button class="ui red button" title="Confirm deletion" type="submit"
		        [ngClass]="{loading:deletingRole, disabled:deletingRole}"
		        [disabled]="deletingRole">Yes
		</button>
	</div>
</form>