<div class="ui message transition {{type}}" #messageElement>
	<i class="close icon" *ngIf="closable" (click)="close($event, messageElement)"></i>
	<div class="header">
		{{title}}
	</div>
	<p>
		<span *ngIf="!!content">{{content}}<br></span>
		<span *ngIf="!!statusCode">Status: {{statusCode}}</span>
		<span *ngIf="!!statusCode && !!statusMessage"> - </span>
		<span *ngIf="!!statusMessage">{{statusMessage}}<br></span>
		<span *ngIf="!!endpoint">URI: {{endpoint}}</span>
	</p>
	<ul class="list" *ngIf="!!errors">

		<li class="item" *ngFor="let error of errors; let i = index;">
			<div>
				<span *ngIf="!!error['https://carbonldp.com/ns/v1/platform#errorCode']">Code: {{error["https://carbonldp.com/ns/v1/platform#errorCode"][0]["@value"]}} -</span>
				<span *ngIf="!!error['https://carbonldp.com/ns/v1/platform#errorMessage']">{{error["https://carbonldp.com/ns/v1/platform#errorMessage"][0]["@value"]}}</span>
			</div>

			<!-- Show validation details if present -->
			<div *ngIf="error.validationError">
				Details
				<ul class="list">
					<li class="item" *ngFor="let validationResult of error.validationError.errorDetails.result; let i = index;">
						{{validationResult.resultMessage}}
					</li>
				</ul>
			</div>
		</li>
	</ul>

	<!-- Show error stack if present -->
	<div class="ui stack accordion" [hidden]="!showStack || !stack">
		<div class="title">
			<i class="dropdown icon"></i>
			Stack
		</div>
		<div class="content">
			<div class="ui stack segment">
				<code [innerHTML]="stack"></code>
			</div>
		</div>
	</div>
</div>