<!-- START: Instance widget -->
<cw-instance-widget class="ui fluid card widget-container--platformInformation"
                    (onErrorOccurs)="notifyErrorAreaService($event)">
</cw-instance-widget>
<!-- END: Instance widget -->


<!-- START: Dashboard Widgets as cards -->
<div class="ui cards">
	<cw-documents-widget class="ui card widget-container widget-container--{{widgetsList[0].name}}"
	                     [(widget)]="widgetsList[0]"
	                     [class.hidden]="widgetsList[0].hide"
	                     (onErrorOccurs)="notifyErrorAreaService($event)"
	                     (onClose)="closeWidget($event)">
	</cw-documents-widget>
	<cw-triples-widget class="ui card widget-container widget-container--{{widgetsList[1].name}}"
	                   [(widget)]="widgetsList[1]"
	                   [class.hidden]="widgetsList[1].hide"
	                   (onErrorOccurs)="notifyErrorAreaService($event)"
	                   (onClose)="closeWidget($event)">
	</cw-triples-widget>
	<cw-custom-widgets *ngFor="let i of customWidgetsIndex;"
	                   class="ui card widget-container widget-container--totalCounter--{{widgetsList[i].id}}"
	                   [(widget)]="widgetsList[i]"
	                   [class.hidden]="widgetsList[i].hide"
	                   (onErrorOccurs)="notifyErrorAreaService($event)"
	                   (onClose)="closeWidget($event)">
	</cw-custom-widgets>

</div>
<!-- END: Dashboard Widgets as cards -->
