.sparql-editor-tool-bar {
	&__button {
		background: transparent;
		border: lightgrey solid 1px;
		cursor: pointer;
		&:focus {
			outline: none;
		}
		&:hover {
			background: lightgrey;
		}
		&:active {
			background: darkgrey;
		}
	}
}

:host{
	width: 100%;
	background-color: #F3F4F5;
	padding: 5px;
	display: block;
}
