<!-- START: Users menu -->
<div class="ui equal width grid">
	<div class="column">
		<button class="ui icon basic inverted button" title="Refresh my users"
		        (click)="refreshUsers()">
			<i class="refresh icon" [ngClass]="{loading:loading}"></i>
		</button>
		<button class="ui right labeled icon button" title="Create a new User" [routerLink]="['create']">
			Create User <i class="plus icon"></i>
		</button>
	</div>
</div>
<!-- END: Users menu-->


<!-- START: Users list -->
<div class="ui active centered large inline text inverted loader" *ngIf="loading">Loading</div>
<div class="users list" [hidden]="loading">
	<table class="ui selectable sortable celled small very compact table" *ngIf="users.length > 0">
		<thead>
			<tr>
				<th *ngFor="let header of headers" class="center aligned" [ngClass]="{
						sorted: sortedColumn === header.value,
						ascending: sortedColumn === header.value && ascending,
						descending: sortedColumn === header.value && ! ascending
					}" (click)="sortColumn( header )">{{ header.name }}
				</th>
				<th class="center aligned">Actions</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let user of users; let i = index;" (click)="openUser($event, user)">
				<td>
					<span>{{ user.id | URIToSlug }}</span>
					<br>
					<span class="user-id">{{user.id}}</span>
				</td>
				<td>
					{{user.created | date:"MMM dd, yyyy - hh:mm a"}}
				</td>
				<td>
					{{user.modified | date:"MMM dd, yyyy - hh:mm a"}}
				</td>
				<td class="center aligned">
					<div class="ui small basic icon buttons">
						<a class="ui icon button tooltip" (click)="onClickEditUser($event, user)" title="Edit User">
							<i class="write icon"></i>
						</a>
						<button class="ui icon button tooltip" (click)="onClickDeleteUser($event,user); userDeleter.show();" title="Delete User">
							<i class="trash outline icon"></i>
						</button>
					</div>
				</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<th colspan="4">
					<label>Show: </label>
					<select class="ui dropdown"
					        [ngModel]="usersPerPage"
					        (ngModelChange)="usersPerPage = $event; activePage = paginator.activePage; changeUsersPerPage($event);">
						<option class="item" value="5">5</option>
						<option class="item" value="10"
						        *ngIf="totalUsers > 10">10
						</option>
						<option class="item" value="15"
						        *ngIf="totalUsers > 15">15
						</option>
						<option class="item" value="20"
						        *ngIf="totalUsers > 20">20
						</option>
						<option class="item" value="{{totalUsers}}">All</option>
					</select>
					<cw-paginator #paginator
					              [totalElements]="totalUsers"
					              [elementsPerPage]="usersPerPage"
					              (onPageChange)="changePage($event)"></cw-paginator>
				</th>
			</tr>
		</tfoot>
	</table>
	<div class="ui warning message" *ngIf="users.length===0 && !errorMessage">
		<i class="attention icon"></i> There are no <strong>users</strong> to display
	</div>
	<cw-message [message]="errorMessage" [type]="'error'" *ngIf="!!errorMessage"></cw-message>
</div>
<!-- END: Users list -->


<!-- START: User deleter -->
<!--Ask for user deletion-->
<cw-user-deleter #userDeleter [user]="deletingUser" (onSuccess)="refreshUsers()"></cw-user-deleter>
<!-- END: User deleter -->