# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled outoput
/dist
/tmp
/out-tsc

# NPM
**/node_modules

# IDEs and editors
## JetBrains IDEs
.idea/workspace.xml
.idea/terminal.xml
.idea/dictionaries/

## VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

## Others
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# MISC
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log

# System files
.DS_Store
Thumbs.db
