$node-height: 24px;

:host {
	overflow-x: auto;
}

.ai {
	&-tree {
		ul,
		li {
			margin-top: 0;
			margin-bottom: 0;
			list-style-type: none;
		}

		&__node {
			// Material UI override
			min-height: $node-height;
			height: $node-height;

			white-space: nowrap;

			&--noChildren {
				margin-left: $node-height;
			}
		}

		&__nodeToggle {
			height: $node-height;
		}

		&__nestedNodes {
			padding-left: 24px;
		}
	}
}
