<form class="ui create document modal error createchild form" #createChildFormModal #createChildForm="ngForm" (submit)="onSubmitCreateChild(createChildForm.value, $event)">
	<!-- START: Header of document creator -->
	<div class="header">
		<h2 class="ui header">
			<i class="file outline icon"></i>
			<span class="content">
				Creating a Child Document
				<span class="sub header">Create a new document as a child of another one.</span>
			</span>
		</h2>
	</div>
	<!-- END: Header of document creator -->


	<!-- START: Content of document creator -->
	<div class="content">
		<!-- START: Slug for the new document -->
		<div class="field"
		     [ngClass]="{error: !slug.valid}">
			<label>Slug: The slug of the document you want to create: <span app-grayed-out>(Optional)</span></label>
			<div class="ui fluid input">
				<input type="text" name="slug"
				       placeholder="Optional: Enter the slug of the child. e.g. &quot;my-child-name/&quot;"

				       #slug="cwValidation" cwValidation

				       app-slug
				       (keyup.esc)="hideForm()"
				       [ngModel]="createChildFormModel.slug"
				       (ngModelChange)="createChildFormModel.slug = getSanitizedSlug($event)"
				       (blur)="slugLostFocus($event)">
			</div>
			<app-error-label *ngIf="!slug.valid">
				<span *ngIf="slug.control.hasError( 'invalidSlug' )">Please, provide a valid slug/name for the child document. (Only numbers and letters with dashes)</span>
			</app-error-label>
		</div>
		<!-- END: Slug for the new document -->


		<!-- START: Advanced options for Document Creator -->
		<div class="ui advancedoptions accordion" ngModelGroup="advancedOptions" #advancedOptions="ngModelGroup">
			<div class="title">
				<i class="dropdown icon"></i>
				Advanced options
				<div class="ui circular red basic mini label" *ngIf="!hasMemberRelation.valid || !isMemberOfRelation.valid">Errors</div>
			</div>
			<div class="content">
				<br>
				<!-- START: Input for hasMemberRelation -->
				<div class="field"
				     [ngClass]="{error: !hasMemberRelation.valid}">
					<label><a href="https://carbonldp.com/documentation/javascript-sdk-getting-started#membership-relation" target="_blank">hasMemberRelation</a>: The name of the property that will hold the array of members (by default member). </label>
					<div class="ui fluid input">
						<input type="text" name="hasMemberRelation"
						       placeholder="E.g: http://www.w3.org/ns/ldp#member"

						       #hasMemberRelation="cwValidation" cwValidation

						       required app-uri-fragment
						       (keyup.esc)="hideForm()"
						       [(ngModel)]="createChildFormModel.advancedOptions.hasMemberRelation">
					</div>
					<app-error-label *ngIf="!hasMemberRelation.valid">
						<span *ngIf="hasMemberRelation.control.hasError('required')">The 'hasMemberRelation' property is required.</span>
						<span *ngIf="hasMemberRelation.control.hasError('invalidURIAddress')">Please, provide a valid URI for the 'hasMemberRelation' property. E.g: http://www.w3.org/ns/ldp#my-member-name</span>
						<span *ngIf="hasMemberRelation.control.hasError('missingFragment')">Please, provide a name/fragment for the 'hasMemberRelation' property. E.g: http://www.w3.org/ns/ldp#my-member-name</span>
						<span *ngIf="hasMemberRelation.control.hasError('multipleFragment')">Please, provide only one name after the hashtag (#) for the 'hasMemberRelation' property. E.g: http://www.w3.org/ns/ldp#my-member-name</span>
					</app-error-label>
				</div>
				<!-- END: Input for hasMemberRelation -->


				<br>


				<!-- START: Input for isMemberOfRelation -->
				<div class="field"
				     [ngClass]="{error: !isMemberOfRelation.valid}">
					<label><a href="https://carbonldp.com/documentation/javascript-sdk-getting-started#membership-relation" target="_blank">isMemberOfRelation</a>: The name of the property that each member will have, which links back to the document they are member of. <span app-grayed-out>(Optional)</span></label>
					<div class="ui fluid input">
						<input type="text" name="isMemberOfRelation"
						       placeholder="Optional: E.g: http://www.w3.org/ns/ldp#member"

						       #isMemberOfRelation="cwValidation" cwValidation

						       app-uri-fragment
						       (keyup.esc)="hideForm()"
						       [(ngModel)]="createChildFormModel.advancedOptions.isMemberOfRelation">
					</div>
					<app-error-label *ngIf="!isMemberOfRelation.valid">
						<span *ngIf="isMemberOfRelation.control.hasError('invalidURIAddress')">Please, provide a valid URI for the 'isMemberOfRelation' property. E.g: http://www.w3.org/ns/ldp#my-parent-relation-name</span>
						<span *ngIf="isMemberOfRelation.control.hasError('missingFragment')">Please, provide a name/fragment for the 'isMemberOfRelation' property. E.g: http://www.w3.org/ns/ldp#my-parent-relation-name</span>
						<span *ngIf="isMemberOfRelation.control.hasError('multipleFragment')">Please, provide only one name after the hashtag (#) for the 'isMemberOfRelation' property. E.g: http://www.w3.org/ns/ldp#my-parent-relation-name</span>
					</app-error-label>
				</div>
				<!-- END: Input for isMemberOfRelation -->
			</div>
		</div>
		<!-- END: Advanced options for Document Creator -->


		<!-- START: Error messages -->
		<app-message [message]="errorMessage" [type]="'error'" [closable]="true" (onClose)="clearErrorMessage($event)" *ngIf="!!errorMessage"></app-message>
		<!-- END: Error messages -->
	</div>
	<!-- END: Content of document creator -->


	<!-- START: Action buttons of document creator -->
	<div class="actions">
		<button type="button" class="ui mini basic button" title="Cancel creation" (click)="hideForm()">Cancel</button>
		<button class="ui mini basic right floated button"
		        [ngClass]="{ 'disabled': !createChildForm.valid, 'green': createChildForm.valid  }"
		        (click)="onSubmitCreateChild(createChildForm.value, $event)"
		        [disabled]="!createChildForm.valid">Create
		</button>
	</div>
	<!-- END: Action buttons of document creator -->
</form>
