<div class="ui sixteen wide column accordion">
	<!-- START: Header of the Response -->
	<div class="ui top attached menu title" [ngClass]="[ response.result.toLowerCase() ]">

		<!-- START: Header of the Response -->
		<div class="header item">
			<span *ngIf="response.query.operation === 'ASK'"> <i [ngClass]="{ checkmark: response.resultSet.boolean, remove: !response.resultSet.boolean }" class="icon"></i> </span>
			<span *ngIf="response.query.type === SPARQLType.QUERY">{{response.query.operation}} <i>{{response.duration | formatDuration}}</i></span>
			<span *ngIf="response.query.type === SPARQLType.UPDATE">UPDATE <i>({{formatDuration( response.duration )}})</i></span>
		</div>
		<!-- END: Header of the Response -->


		<!-- STARt: Action buttons of the response -->
		<div class="right menu">
			<div class="ui small basic icon buttons" style="border:none;">
				<button class="ui button btn-collapse" title="Collapse Response"
				        [disabled]="response.isReExecuting"
				        (click)="toggleAccordion()" >
					<i class="caret icon" [ngClass]="{ down: accordionOpen, right: ! accordionOpen }"></i>
				</button>
				<button class="ui button btn-edit" title="Edit Query"
				        [disabled]="response.isReExecuting"
				        (click)="onConfigureResponse($event)" >
					<i class="write icon"></i>
				</button>
				<button class="ui button btn-refresh" title="Re-Execute Query"
				        [disabled]="response.isReExecuting"
				        (click)="onReExecuteResponse($event)">
					<i class="refresh icon"></i>
				</button>
				<button class="ui button btn-close" title="Remove Response"
				        (click)="onRemoveResponse($event)">
					<i class="remove icon"></i>
				</button>
			</div>
		</div>
		<!-- END: Action buttons of the response -->
	</div>
	<!-- END: Header of the Response -->


	<!-- START: Body of the response -->
	<div class="ui bottom attached segment content {{response.result}}" [ngClass]="{loading:response.isReExecuting}">
		<div class="ui pointing secondary tabular menu">
			<a class="item active" data-tab="first">Results</a>
			<a *ngIf="response.result === SPARQLResponseType.Success" class="item" data-tab="second">Raw Data</a>
			<a class="item" data-tab="third">SPARQL Request</a>
		</div>
		<div class="tabs">
			<!-- START: Tab containing the data of the response when response is successful -->
			<div *ngIf="response.result === SPARQLResponseType.Success" class="ui active tab" data-tab="first">
				<app-code-mirror *ngIf="!!outputformat && outputformat != sparqlFormats.table"
				                [mode]="outputformat"
				                [readOnly]="'nocursor'"
				                [(value)]="response.data">
				</app-code-mirror>
				<app-resultset-table *ngIf="outputformat === sparqlFormats.table"
				                    [(resultset)]="response.resultSet"
				                    [query]="response.query"
				                    [prefixes]="prefixes">
				</app-resultset-table>
			</div>
			<!-- END: Tab containing the data of the response when response is successful -->


			<!-- START: Tab containing the error of the response when response is unsuccessful -->
			<div *ngIf="response.result === SPARQLResponseType.Error" class="ui active tab" data-tab="first">
				<div class="ui error message transition">
					<div class="header">
						{{response.resultSet?.title}}
					</div>
					<p>
						<span *ngIf="response.resultSet?.content" [innerHTML]="response.resultSet?.content"><br></span>
						<span *ngIf="response.resultSet?.statusCode">Status: {{response.resultSet?.statusCode}} - {{response.resultSet?.statusMessage}}<br></span>
						<span *ngIf="response.resultSet?.endpoint">URI: {{response.resultSet?.endpoint}}</span>
					</p>
				</div>
			</div>
			<!-- END: Tab containing the error of the response when response is unsuccessful -->


			<!-- START: Tab containing the raw data -->
			<pre *ngIf="response.result === SPARQLResponseType.Success" class="ui tab secondary segment raw-data-tab" data-tab="second">{{response.data}}</pre>
			<!-- END: Tab containing the raw data -->


			<!-- STARt: Tab containing the query -->
			<div class="ui tab" data-tab="third">
				<app-code-mirror [mode]="codeMirrorMode.SPARQL"
				                [readOnly]="'nocursor'"
				                [(value)]="response.query.content"></app-code-mirror>
			</div>
			<!-- END: Tab containing the query -->
		</div>
	</div>
	<!-- END: Body of the response -->
</div>
