<div class="content widget-header">{{widget.title}}
	<div class="right floated">
		<i class="refresh small icon widget-button" (click)="refreshWidget()"></i>
		<i class="remove small icon widget-button" (click)="closeWidget()"></i>
	</div>
</div>
<div class="content widget-body" [ngStyle]="errorMessage ? {'background-image': 'url(' +'/assets/images/triplesBrokenIcon.png'+ ')'} : {'background-image': 'url(' +'/assets/images/triplesIcon.png'+ ')'}">
	<div class="widget-text">{{triplesTotalCount}}</div>
</div>


