:host {

	.type {

		/deep/ .dropdown.types {
			.text .description {
				display: none;
			}
			.item {
				.title {
					line-height: 1em;
					font-size: 1.2em;
					display: block;
				}
				.description {
					color: gray;
					font-size: .8em;
				}
			}
		}
	}

	.updown.buttons {
		max-height: 28px;
		margin-top: 1px;
		float: right;
		.button {
			max-height: 13px;
			height: 13px;
			padding: 1px;
		}
	}
}