<table class="ui very compact striped small celled table" *ngIf="canDisplayLiterals">
	<thead>
		<tr class="center aligned">
			<th class="wide" [ngClass]="{four: canDisplayLanguage, five: !canDisplayLanguage}">@value</th>
			<th class="wide" [ngClass]="{three: canDisplayLanguage, five: !canDisplayLanguage}">@type</th>
			<th class="two wide" *ngIf="canDisplayLanguage">@language</th>
			<th class="one wide" *ngIf="canEdit">Actions</th>
		</tr>
	</thead>
	<tbody>
		<ng-template ngFor let-literal="$implicit" [ngForOf]="literals" let-i="index">
			<tr class="app-literal top aligned" [ngClass]="{'modified-literal':!!literal.modified, 'added-literal':!!literal.added}" *ngIf="!literal.deleted"
			    [literal]="literal"
			    [canEdit]="canEdit"
			    [canDisplayLanguage]="canDisplayLanguage"
			    (onSave)="saveLiteral($event, literal, i)"
			    (onDeleteLiteral)="deleteLiteral($event, i)"
			    (onEditMode)="editModeChanged($event)"></tr>
		</ng-template>
	</tbody>
</table>
