<div ngModelGroup="basicCredentialsFormModel">
	<!-- START: Username input -->
	<div class="field credentialsTab-username"
	     [ngClass]="{error: !username.valid}">
		<label>Username:</label>
		<div class="ui left icon fluid input">
			<i class="user icon"></i>
			<input type="text" name="username"
			       placeholder="E.g: john-doe"
			       #username="cwValidation" cwValidation required
			       [(ngModel)]="basicCredentialsFormModel.username"
			       [disabled]="mode === Modes.READ">
		</div>
		<cw-error-label *ngIf="!username.valid">
			<span *ngIf="username.control.hasError('required')">Please enter a username</span>
		</cw-error-label>
	</div>
	<!-- END: Username input -->


	<!-- START: Password input -->
	<div class="field credentialsTab-password"
	     [ngClass]="{ error: !password.valid }">
		<label>Password:</label>
		<div class="ui left icon input">
			<i class="lock icon"></i>
			<input type="password" name="password"
			       class="field password"
			       placeholder="Password"
			       #password="cwValidation" cwValidation
			       cw-required-if [condition]="mode===Modes.CREATE"
			       [(ngModel)]="basicCredentialsFormModel.password"
			       [disabled]="mode === Modes.READ">
		</div>
		<cw-error-label *ngIf="!password.valid">
			<span *ngIf="password.control.hasError('requiredIf')">Please enter a password</span>
		</cw-error-label>
	</div>
	<!-- END: Password input -->


	<!-- START: Password confirm input -->
	<div class="field credentialsTab-repeatPassword"
	     [ngClass]="{ error: !repeatPassword.valid }">
		<label>Password Confirmation:</label>
		<div class="ui left icon input">
			<i class="lock icon"></i>
			<input type="password" name="repeatPassword"
			       class="field repeatPassword"
			       placeholder="Repeat password"
			       #repeatPassword="cwValidation" cwValidation
			       cw-required-if [condition]="mode===Modes.CREATE"
			       cw-match [matchTo]="basicCredentialsFormModel.password" [control]="repeatPassword.control"
			       [(ngModel)]="basicCredentialsFormModel.repeatPassword"
			       [disabled]="mode === Modes.READ">
		</div>
		<cw-error-label *ngIf="!repeatPassword.valid">
			<span *ngIf="repeatPassword.control.hasError('requiredIf')">Please enter the password confirmation</span>
			<span *ngIf="repeatPassword.control.hasError('matchError')">The password confirmation doesn't match the password</span>
		</cw-error-label>
	</div>
	<!-- END: Password confirm input -->
</div>