:host {
	flex: 1 1 100%;

	display: flex;
	flex-direction: column;

	background-color: #90959A;
	color: #ffffff;
	min-height: 0; //this is necessary to fix issue in firefox related with flexbox overflow

	app-header.ui.navigation.inverted.menu {
		background-color: #363f48;
		border-radius: 0;
		padding: 0;
		margin: 0;
	}

	app-sidebar.ui.vertical.menu {
		flex: 0 0 auto;

		margin: 0;
		border-radius: 0;
		border-top: 1px solid rgba(255, 255, 255, 0.0784314);
		border-right: 1px solid rgba(255, 255, 255, 0.0784314);
		background-color: #363f48;
	}

	app-messages-area {
		z-index: 2;
		max-height: 0;
	}

	.page-layout {
		display: flex;
		flex-direction: row;
		width: 100%;
		min-height: 0; //this is necessary to fix issue in firefox related with flexbox overflow
		// Full height minus header's height
		height: calc(100vh - 60px);
		// This div should never overflow
		overflow: hidden;
	}

	.page-content {
		flex: 1 1 auto;
		width: 62%;
		max-height: 100%;

		display: flex;
		flex-direction: column;
		min-height: 0; //this is necessary to fix issue in firefox related with flexbox overflow
	}

	.scrollable-content {
		flex: 1 1 auto;

		display: flex;
		flex-direction: column;

		overflow: auto;

		> .rendered-content {
			flex: 1 1 auto;
			padding: 15px 30px;
		}

		.footer {
			flex: 0 0 auto;
		}
	}

	.ui.accordion.menu .item .title > .dropdown.icon {
		margin: .5em 0 0 1em;
	}
}
