:host {
	flex: 1 1 100%;

	display: flex;
	flex-direction: column;

	background-color: #90959A;
	color: #ffffff;

	cw-header.ui.navigation.inverted.menu {
		background-color: #534052;
		border-radius: 0;
		padding: 0;
		margin: 0;
	}

	cw-sidebar.ui.vertical.menu {
		flex: 0 0 auto;

		margin: 0;
		border-radius: 0;
		width: 300px;
		border-top: 1px solid rgba(255, 255, 255, 0.0784314);
		border-right: 1px solid rgba(255, 255, 255, 0.0784314);
		background-color: #534052;
	}

	cw-messages-area {
		z-index: 2;
		max-height: 0;
	}

	.page-layout {
		flex: 1;

		display: flex;
		flex-direction: row;
		width: 100%;
	}

	.page-content {
		flex: 1;
		max-height: 100%;
		width: 62%;
		min-width: 400px;

		display: flex;
		flex-direction: column;
	}

	.scrollable-content {
		flex: 1;

		display: flex;
		flex-direction: column;

		overflow-x: hidden;

		> * {
			flex: 1;
		}

		> .rendered-content {
			flex: 1;
			padding: 3% 2% 5% 3%;
			margin-bottom: 10%;
		}

		> footer {
			flex: 0 0 auto;
			height: 69px;
		}
	}

	.ui.accordion.menu .item .title > .dropdown.icon {
		margin: .5em 0 0 1em;
	}
}
