:host{
	.cw-type-name{
		line-height: 1.21428571em;
		padding: 0.67857143em 2.1em 0.67857143em 1em;
		width: 100%;
	}
	.ui.icon.button{
		background: transparent;
		border: gray;
	}
	.cw-type-editButtons{
		float: right;
	}
}
