<div class="ui basic segment agents" [ngClass]="{loading: loading}">
	<table class="ui selectable sortable celled small very compact agents table">
		<thead>
			<tr *ngIf="availableAgents.length > 0">
				<th class="center aligned">Assigned</th>
				<th *ngFor="let header of headers" class="center aligned" [ngClass]="{
						sorted: sortedColumn === header.value,
						ascending: sortedColumn === header.value && ascending,
						descending: sortedColumn === header.value && ! ascending
					}" (click)="sortColumn( header )">{{ header.name }}
				</th>
			</tr>
			<tr *ngIf="availableAgents.length === 0">
				<th colspan="2"></th>
			</tr>
		</thead>
		<tbody>
			<tr class="middle aligned agent"
			    *ngFor="let agent of availableAgents; let i = index;" (click)="onClickAgent($event, agent)">
				<td class="collapsing center aligned">
					<div class="ui checkbox" [ngClass]="{'radio': single}">
						<input name="agent_checkbox"
						       [type]="single? 'radio' : 'checkbox'"
						       [value]="agent.id"
						       [checked]="agent.checked">
					</div>
				</td>
				<td>
					<p>{{agent.name}}<br>
						{{agent.id}}
					</p>
				</td>
			</tr>
			<tr class="warning" *ngIf="availableAgents.length === 0">
				<td colspan="2">
					<i class="attention icon"></i>There are currently no Agents in this App.<br>
					You can add agents by going to Security -> Agents -> <strong>Create New Agent</strong>
				</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<th colspan="2" *ngIf="availableAgents.length > 0">
					<label>Show: </label>
					<select class="ui dropdown"
					        [ngModel]="agentsPerPage"
					        (ngModelChange)="agentsPerPage = $event; activePage = paginator.activePage; changeAgentsPerPage($event);">
						<option class="item" value="5">5</option>
						<option class="item" value="10"
						        *ngIf="totalAgents > 10">10
						</option>
						<option class="item" value="15"
						        *ngIf="totalAgents > 15">15
						</option>
						<option class="item" value="20"
						        *ngIf="totalAgents > 20">20
						</option>
						<option class="item" value="{{totalAgents}}">All</option>
					</select>
					<cw-paginator #paginator
					              [totalElements]="totalAgents"
					              [elementsPerPage]="agentsPerPage"
					              (onPageChange)="changePage($event)"></cw-paginator>
				</th>
				<th colspan="2" *ngIf="availableAgents.length === 0"></th>
			</tr>
		</tfoot>
	</table>
</div>