<!-- START: Action buttons -->
<button class="ui basic compact labeled right icon button" (click)="createProperty()" *ngIf="canEdit" [ngClass]="{disabled: modes.EDIT === state}" [disabled]="modes.EDIT === state">
	<i class="plus icon"></i>
	Add Property
</button>
<!-- END: Action buttons -->

<div class="ui divider" *ngIf="canEdit"></div>

<!-- START: Properties of the Document -->
<div class="ui divided items">
	<ng-template ngFor let-propertyStatus="$implicit" [ngForOf]="properties" let-i="index">
		<app-property class="property item" *ngIf="canDisplay(propertyStatus.copy? propertyStatus.copy.name : propertyStatus.added.name)"
		             [attr.data-tar]="propertyStatus.copy? propertyStatus.copy.name : propertyStatus.added.name"

		             [property]="propertyStatus"
		             [blankNodes]="blankNodes"
		             [namedFragments]="namedFragments"
		             [documentURI]="documentURI"
		             [existingProperties]="existingPropertiesNames"
		             [accessPointsHasMemberRelationProperties]="accessPointsHasMemberRelationProperties"
		             [mode]="propertyStatus.isBeingCreated? modes.EDIT : modes.READ"

		             (onChangeProperty)="changeProperty(propertyStatus, i)"
		             (onDeleteProperty)="deleteProperty(propertyStatus, i)"
		             (onSaveNewProperty)="addProperty(propertyStatus, i)"

		             (onGoToBlankNode)="openBlankNode( $event )"
		             (onGoToNamedFragment)="openNamedFragment($event)">
		</app-property>
	</ng-template>
</div>
<!-- START: Properties of the Document -->
