<ng-template ngFor let-item [ngForOf]="items">

	<!-- START: Link item for sidebar -->
	<ng-template [ngIf]="item.type === 'link'">
		<a class="item"
		   [ngClass]="{ active: routerService.isActive( item.route ) }"
		   [routerLink]="item.route">
			<i *ngIf="item.icon" [class]="item.icon"></i>
			{{ item.name }}
		</a>
	</ng-template>
	<!-- END: Link item for sidebar -->


	<!-- START: Divider item -->
	<ng-template [ngIf]="item.type === 'divider'">
		<div class="ui horizontal inverted divider">
			<i *ngIf="item.icon" [class]="item.icon"></i>
			{{ item.name }}
		</div>
	</ng-template>
	<!-- END: Divider item -->


	<!-- START: Grouped sidebar items -->
	<ng-template [ngIf]="item.type === 'group'">
		<app-sidebar-items [items]="item.children"></app-sidebar-items>
	</ng-template>
	<!-- END: Grouped sidebar items -->


	<!-- START: Item with a collapsible menu -->
	<ng-template [ngIf]="item.type === 'submenu'">
		<a class="item submenu"
		   suiCollapsible
		   [(suiActive)]="item.open"
		   [ngClass]="{ active: item.isActive ? item.isActive() : false }">
			<button *ngIf="item.onClose" class="ui right floated circular icon mini inverted button" (click)="item.onClose.emit( item )">
				<i class="icon remove"></i>
			</button>
			<a class="title">
				<i class="right aligned dropdown icon"></i>
				{{item.name}}
			</a>
			<div class="content">
				<app-sidebar-items [items]="item.children"></app-sidebar-items>
			</div>
		</a>
	</ng-template>
	<!-- END: Item with a collapsible menu -->
</ng-template>
