:host {
	margin: 0;
	border-radius: 0;

	// semantic-ui
	width: 150px !important;

	.collapse.button {
		.sidebar.icon {
			margin: 0 auto;
		}
	}

	.item.collapse-menu {
		padding-top: 9px;
		padding-bottom: 9px;
	}
}
