:host {
	display: block;
}

.list.allowedDomains {
	margin: 0;
	.item {
		.content {
			color: #000000;
		}
	}
}

p.noAllowedOrigins {
	color: #808080;
	font-size: 1.5em;
}

.hidden {
	display: none;
}