<!-- START: Blank Node buttons -->
<button class="ui basic compact labeled right icon button" (click)="createProperty()" *ngIf="canEdit">
	<i class="plus icon"></i>
	Add Property
</button>
<!-- END: Blank Node buttons -->


<!-- START: Body of the Blank Node -->
<div class="ui divided items">
	<!-- START: Properties of the Blank Node -->
	<ng-template ngFor let-propertyRow="$implicit" [ngForOf]="properties" let-i="index">
		<cw-property class="property item"
		             *ngIf="!isTemporalId(propertyRow)"
		             [attr.data-tar]="propertyRow.copy? propertyRow.copy.name : propertyRow.added.name"

		             [property]="propertyRow"
		             [bNodes]="blankNodes"
		             [namedFragments]="namedFragments"
		             [canEdit]="canEditProperty(propertyRow)"
		             [documentURI]="documentURI"
		             [existingProperties]="existingPropertiesNames"
		             [mode]="(!!propertyRow.isBeingCreated || !!propertyRow.isBeingModified || !!propertyRow.isBeingDeleted)? modes.EDIT : modes.READ"

		             (onChangeProperty)="changeProperty(propertyRow, i)"
		             (onDeleteProperty)="deleteProperty(propertyRow, i)"
		             (onSaveNewProperty)="addProperty(propertyRow, i)"
		             (onChangeNewProperty)="changeProperty(propertyRow, i)"
		             (onDeleteNewProperty)="deleteProperty(propertyRow, i)"

		             (onGoToBlankNode)="openBlankNode( $event )"
		             (onGoToNamedFragment)="openNamedFragment($event)">
		</cw-property>
	</ng-template>
	<!-- END: Properties of the Blank Node -->


	<!-- START: Message for empty properties -->
	<div class="item">
		<div class="contet">
			<div class="ui warning message" *ngIf="properties.length === 1">
				This blank node is empty. Please, add a property so it can be saved, otherwise the blank node won't be saved.
			</div>
		</div>
	</div>
	<!-- END: Message for empty properties -->
</div>
<!-- END: Body of the Blank Node -->