<!-- START: Blank Node buttons -->
<button class="ui basic compact labeled right icon button" (click)="createProperty()" *ngIf="canEdit" [ngClass]="{disabled: States.READ !== state}" [disabled]="States.READ !== state">
	<i class="plus icon"></i>
	Add Property
</button>
<!-- END: Blank Node buttons -->


<!-- START: Body of the Blank Node -->
<div class="ui divided items">
	<!-- START: Properties of the Blank Node -->
	<ng-template ngFor let-propertyStatus="$implicit" [ngForOf]="properties" let-i="index">
		<app-property class="property item"
		              *ngIf="!isTemporalId(propertyStatus)"
		              [attr.data-tar]="propertyStatus.copy? propertyStatus.copy.name : propertyStatus.added.name"

		              [property]="propertyStatus"
		              [blankNodes]="blankNodes"
		              [namedFragments]="namedFragments"
		              [canEdit]="canEditProperty(propertyStatus)"
		              [documentURI]="documentURI"
		              [existingProperties]="existingPropertiesNames"
		              [mode]="propertyStatus.isBeingCreated? States.EDIT : States.READ"

		              (onChangeProperty)="changeProperty(propertyStatus, i)"
		              (onDeleteProperty)="deleteProperty(propertyStatus, i)"
		              (onSaveNewProperty)="addProperty(propertyStatus, i)"
		              (onCancelProperty)="cancelProperty(propertyStatus, i)"

		              (onGoToBlankNode)="openBlankNode( $event )"
		              (onGoToNamedFragment)="openNamedFragment($event)">
		</app-property>
	</ng-template>
	<!-- END: Properties of the Blank Node -->


	<!-- START: Message for empty properties -->
	<div class="item">
		<div class="contet">
			<div class="ui warning message" *ngIf="properties.length === 1">
				This blank node is empty. Please, add a property so it can be saved, otherwise the blank node won't be saved.
			</div>
		</div>
	</div>
	<!-- END: Message for empty properties -->
</div>
<!-- END: Body of the Blank Node -->
