:host {
	display: block;

	.query-builder {
		padding-left: 0;
		padding-right: 0;
	}
	.query-results {
		margin-bottom: 6%;
		padding-left: 0;
		padding-right: 0;

		.title .column {
			padding-left: 0;
			padding-right: 0;
		}

		.ui.list.responses-list {
			> .item {
				padding-bottom: 10px;
			}
		}
	}

	.saveButton {
		.star.icon {
			&.saved {
				color: #ff7600;
			}
		}
	}
}

.cw-savedQuery {
	// Center elements vertically
	display: flex;
	flex-direction: row;
	align-items: center;

	border-bottom: 1px solid #61696E;

	height: 50px;

	// Button-like behaviour
	cursor: pointer;
	&:hover {
		background: #464E55;
	}
}
.cw-savedQuery-label {
	flex: 1 1 auto;

	display: flex;
	flex-direction: column;
	justify-content: center;

	padding-left: 15px;
	height: 100%;

	// Semantic UI's default line-height messes up with the vertical centering
	line-height: normal;
}
.cw-savedQuery-name {
	font-size: 1.3em;
}
.cw-savedQuery-operation {
	font-size: 1em;
	font-family: monospace;

	// Colors depending on the query's type
	&--select {
		color: cornflowerblue;
	}
	&--describe {
		color: mediumpurple;
	}
	&--construct {
		color: mediumvioletred;
	}
	&--ask {
		color: orange;
	}
}
.cw-savedQuery-deleteButton {
	flex: 0 0 auto;

	margin: 0 15px;

	// Square icon button
	width: 1em;
	height: 1em;

	// Semantic UI's default line-height messes up with the vertical centering
	line-height: normal;
}

