<div class="ui basic segment">
	<!-- START: Header of the query builder -->
	<div class="ui top attached menu">
		<div class="right menu">
			<button class="show-queries ui button item"
			        [disabled]="loading"
			        (click)="toggleSidebar()"><i class="sidebar icon"></i> Saved Queries
			</button>
		</div>
	</div>
	<!-- END: Header of the query builder -->

	<!-- START: Body of the query builder -->
	<div class="cw-queryBuilderCard ui middle attached segment pushable">
		<!-- START: List of the saved queries -->
		<div class="cw-savedQueries ui inverted right vertical wide dimmed sidebar menu queries-list">
			<!--
				2018-10-19 @MiguelAraCo
				TODO[feature]: Add text: "Queries are saved in your browser's local storage"
			-->
			<ng-container *ngIf="savedQueries$ | async; let savedQueries; else loadingSavedQueries">
				<ng-container *ngIf="savedQueries.length === 0">
					<!-- Content to show when there are no saved queries -->
				</ng-container>
				<div class="cw-savedQuery" *ngFor="let savedQuery of savedQueries">
					<div class="cw-savedQuery-label"
					     (click)="on_savedQuery_select( savedQuery )">
						<div class="cw-savedQuery-name">{{ savedQuery.name }}</div>
						<div class="cw-savedQuery-operation"
						     *ngIf="savedQuery.type === SPARQLType.QUERY"
						     [ngClass]="'cw-savedQuery-operation--' + savedQuery.operation.toLowerCase()">
							{{ savedQuery.operation.toLowerCase() }}
						</div>
						<div class="cw-savedQuery-operation cw-savedQuery-operation--update"
						     *ngIf="savedQuery.type === SPARQLType.UPDATE">
							{{ savedQuery.type.toLowerCase() }}
						</div>
					</div>
					<i class="cw-savedQuery-deleteButton icon close"
					   (click)="on_savedQuery_delete( savedQuery )"></i>
				</div>
			</ng-container>
			<ng-template #loadingSavedQueries>
				<!-- TODO: Implement loading animation -->
			</ng-template>
		</div>
		<!-- END: List of the saved queries -->

		<!-- START: Form of the query builder -->
		<div class="ui pusher">
			<div class="ui basic segment">
				<div class="ui inverted dimmer"
				     [ngClass]="{ active: loading }">
					<div class="ui text loader">
						<div class="cw-duration-label"
						      *ngIf="queryExecutionState === QueryExecutionState.EXECUTING && queryExecutionDuration === 0">Sending...</div>
						<code class="cw-duration-label"
						      *ngIf="queryExecutionState === QueryExecutionState.EXECUTING && queryExecutionDuration !== 0">{{queryExecutionDuration | formatDuration:'{ "decimals": 0, "fixedLength": true }'}}</code>
						<div class="cw-duration-label"
						     *ngIf="queryExecutionState === QueryExecutionState.PROCESSING_RESPONSE">Rendering...</div>
						<div class="cw-duration-label"
						     *ngIf="queryExecutionState === QueryExecutionState.CANCELING">Canceling...</div>
						<button type="button" class="ui negative right labeled icon button"
						        [class.loading]="queryExecutionState === QueryExecutionState.CANCELING"
						        [disabled]="! ( queryExecutionState === QueryExecutionState.PREPARING || queryExecutionState === QueryExecutionState.EXECUTING )"
						        (click)="on_queryBuilder_cancel()">Cancel<i class="cancel icon"></i></button>
					</div>
				</div>
				<div class="ui grid">
					<div class="row">
						<div class="column">
							<cw-query-builder
								#queryBuilder
								(execute)="on_queryBuilder_execute( $event )"
								(clean)="on_queryBuilder_clean( $event )"
								(save)="on_queryBuilder_save( $event )"
								(clone)="on_queryBuilder_clone( $event )"
								[loading]="loading"
								[query]="query"></cw-query-builder>
							<!-- /basi segment -->
						</div>
						<!-- /row -->
					</div>
				</div>
			</div>
		</div>
		<!-- START: Form of the query builder -->
	</div>
	<!-- END: Body of the query builder -->
</div>


<!-- START: Container of Query responses -->
<div class="ui basic segment query-results">
	<div class="ui two columns grid basic segment title">
		<div class="column">
			<h3>Response Stack</h3>
		</div>
		<div class="column right aligned">
			<button type="button" class="ui inverted white button"
			        [disabled]="responses.length <= 0"
			        (click)="on_responseStack_empty()">
				<i class="trash outline icon"></i>
				Empty Stack <span *ngIf="responses.length>0">({{responses.length}})</span>
			</button>
		</div>
	</div>
	<div class="ui list responses-list">
		<cw-sparql-response class="item"
		                    *ngFor="let response of responses; let i = index"
		                    [response]="response"
		                    [prefixes]="prefixes"
		                    (onRemove)="on_response_remove($event)"
		                    (onConfigure)="on_response_load($event)"
		                    (onReExecute)="on_response_rerun($event)"></cw-sparql-response>
	</div>
</div>
<!-- END: Container of Query responses -->

<!--TODO: build a modal component to replace this code below -->

<form class="cw-saveQueryModal ui tiny modal"
      [ngClass]="{loading: loading}"
      (submit)="on_saveQueryModal_submit()">
	<div class="header">
		Save query
	</div>
	<div class="content ui form">
		<div class="field">
			<label>Name:</label>
			<input type="text" title="Query name"
			       [ngModelOptions]="{standalone: true}"
			       [(ngModel)]="query.name">
		</div>
	</div>
	<div class="actions">
		<button type="button" class="ui black deny button"
		        (click)="on_saveQueryModal_cancel()">
			Cancel
		</button>
		<button type="submit" class="ui positive right labeled icon button"
		        [disabled]="! query.name || ! query.name.trim()">
			Save
			<i class="checkmark icon"></i>
		</button>
	</div>
</form>
<!-- END: Modal to confirm query deletion -->

<!-- START: Modal to confirm the replacement of the working query -->
<form class="cw-replaceQueryConfirmationModal ui modal"
      (submit)="on_replaceQueryConfirmationModal_submit()">
	<div class="header">
		Unsaved changes
	</div>
	<div class="image content">
		<div class="description">
			<div class="ui header">The query builder has unsaved changes</div>
			<p>Do you want to discard them?</p>
		</div>
	</div>
	<div class="actions">
		<button type="button" class="ui black deny button" (click)="on_replaceQueryConfirmationModal_cancel()">
			No
		</button>
		<button type="submit" class="ui positive right labeled icon button">
			Yes
			<i class="checkmark icon"></i>
		</button>
	</div>
</form>

<form class="cw-overwriteQueryConfirmationModal ui modal"
      (submit)="on_overwriteQueryConfirmationModal_submit()">
	<div class="header">
		Overwrite query
	</div>
	<div class="image content">
		<div class="description">
			<div class="ui header">
				There's already a saved query with the name:
				<br>
				<strong>{{query.name}}</strong>
			</div>
			<p>Do you want to overwrite it?</p>
		</div>
	</div>
	<div class="actions">
		<button type="button" class="ui black deny button"
		        (click)="on_overwriteQueryConfirmationModal_cancel()">
			Cancel
		</button>
		<button type="submit" class="ui positive right labeled icon button">
			Yes
			<i class="checkmark icon"></i>
		</button>
	</div>
</form>

<form class="cw-deleteQueryConfirmationModal ui modal"
      (submit)="on_deleteQueryConfirmationModal_submit()">
	<div class="header">
		Delete query
	</div>
	<div class="image content">
		<div class="description">
			<div class="ui header">Are you sure you want to delete this query?</div>
			<strong>This action can't be undone</strong>
		</div>
	</div>
	<div class="actions">
		<button type="button" class="ui black deny button" (click)="on_deleteQueryConfirmationModal_cancel()">
			Cancel
		</button>
		<button type="submit" class="ui negative right labeled icon button">
			Yes
			<i class="cancel icon"></i>
		</button>
	</div>
</form>
