<!-- START: Save changes button -->
<a *ngIf="documentContentHasChanged"
   class="ui blue top right attached label saving-message"
   (click)="saveDocument()">
	<i class="save icon"></i>Save changes
</a>
<!-- END: Save changes button -->


<!-- START: Success message -->
<div class="ui positive save success message hidden" #successMessage>
	<i class="close icon" (click)="closeMessage(successMessage)"></i>
	<div class="header">
		Success!
	</div>
	<div [innerHTML]="successMessageContent"></div>
</div>
<!-- END: Success message -->


<!-- START: Unsaved changes message -->
<div class="ui unsaved prompt warning icon message hidden">
	<i class="warning icon"></i>
	<div class="content">
		<div class="header">
			Unsaved changes
		</div>
		<p>You have not saved changes, if you refresh the document, your changes will be lost, are you sure you want to refresh de document?</p>
		<button class="ui basic mini button" (click)="refreshDocument(rootNode['@id'])">
			Yes
		</button>
		<button class="ui basic mini button" (click)="toggleConfirmRefresh()">
			No
		</button>
	</div>
</div>
<!-- END: Unsaved changes message -->


<!-- START: Content of the Document -->
<div class="ui basic segment document-content" *ngIf="document">
	<div class="ui divided items">

		<!-- START: ID Property of the document -->
		<app-property class="property item"
		             [documentURI]="rootNode['@id']"
		             [property]="{copy:{id:'@id', name:'@id', value:rootNode['@id']}}">
		</app-property>
		<!-- END: ID Property of the document -->


		<!-- START: Action buttons -->
		<div class="item">
			<div class="content">
				<div class="document options">
					<button class="ui right labeled icon basic mini button" (click)="beforeRefreshDocument( rootNode[ '@id' ] )">
						<i class="refresh icon"></i>
						Refresh
					</button>
				</div>
			</div>
		</div>
		<!-- END: Action buttons -->

		<mat-tab-group [(selectedIndex)]="activeTab">
			<mat-tab>
				<ng-template mat-tab-label>
					<span [matBadgeHidden]="! rootNodeHasChanged" matBadge="✿" matBadgeOverlap="false" matBadgeColor="accent">
						Document
					</span>
				</ng-template>
				<app-document-resource class="app-document-viewer__tab"
				                       [rootNode]="rootNode"
				                       [hiddenProperties]="['@id']"
				                       [blankNodes]="blankNodes"
				                       [namedFragments]="namedFragments"
				                       [documentURI]="rootNode['@id']"

				                       (onOpenBlankNode)="openBlankNode($event)"
				                       (onOpenNamedFragment)="openNamedFragment($event)"
				                       (onChanges)="registerRootNodeChanges($event)">
				</app-document-resource>
			</mat-tab>
			<mat-tab>
				<ng-template mat-tab-label>
					<span [matBadgeHidden]="! blankNodesHaveChanged" matBadge="✿" matBadgeOverlap="false" matBadgeColor="accent">
						Blank Nodes ({{blankNodes.length}})
					</span>
				</ng-template>
				<app-blank-nodes class="app-document-viewer__tab"
				                 [documentURI]="document['@id']"
				                 [blankNodes]="blankNodes"
				                 [namedFragments]="namedFragments"

				                 (onOpenBlankNode)="openBlankNode($event)"
				                 (onOpenNamedFragment)="openNamedFragment($event)"
				                 (onChanges)="registerBlankNodesChanges($event)">
				</app-blank-nodes>
			</mat-tab>
			<mat-tab>
				<ng-template mat-tab-label>
					<span [matBadgeHidden]="! namedFragmentsHaveChanged" matBadge="✿" matBadgeOverlap="false" matBadgeColor="accent">
						Named Fragments ({{namedFragments.length}})
					</span>
				</ng-template>
				<app-named-fragments class="app-document-viewer__tab"
				                     [documentURI]="document['@id']"
				                     [blankNodes]="blankNodes"
				                     [namedFragments]="namedFragments"

				                     (onOpenBlankNode)="openBlankNode($event)"
				                     (onOpenNamedFragment)="openNamedFragment($event)"
				                     (onChanges)="registerNamedFragmentsChanges($event)">
				</app-named-fragments>
			</mat-tab>
		</mat-tab-group>
	</div>
</div>
<!-- END: Content of the Document -->
