:host {
	display: block;
	padding: 0;
	height: 100%;
	.saving-message {
		z-index: 1;
		position: sticky;
		position: -webkit-sticky;
	}
	.document-content {
		overflow-y: scroll;
		overflow-x: hidden;
	}
	.document.options {
		padding: 0;
		width: 100%;
	}
	.success.message {
		position: absolute;
		z-index: 1;
		right: 0;
	}
	.unsaved.prompt.warning.message {
		min-height: 100px;
		position: absolute;
		z-index: 1;
		right: 0;
	}
}

.ui.secondary.menu.document.tabs .item {
	border: 1px solid #d3d3d3;
	.marker .icon {
		margin-right: 0;
	}
}

.ui.basic.segment.document-content {
	margin-top: 0;
}

.ui.grid > .row > :host.ui.segment.column {
	padding: 0;
}
