<td class="value">
	<div class="read-mode" *ngIf="mode===modes.READ">
		<p class="value">{{value}}</p>
	</div>
	<div class="edit-mode ui error form" [hidden]="mode===modes.READ">
		<div class="field" [ngClass]="{error:!valueInput.valid}">
			<input type="text" name="valueInput" [(ngModel)]="value" #valueInput="ngModel" [type]="type" [control]="valueInput" required cw-literal-value>
		</div>
		<div class="ui error message wide" *ngIf="!valueInput.valid">
			<p *ngIf="valueInput.control.hasError('invalidTypeError') && !valueInput.control.hasError('required')">Invalid value type, please enter a valid {{type}}.</p>
			<p *ngIf="valueInput.control.hasError('required')">A value is required.</p>
		</div>
	</div>
</td>
<td class="type">
	<div class="read-mode" *ngIf="mode===modes.READ">
		<p class="value">{{type}}</p>
	</div>
	<div class="edit-mode ui error form" [hidden]="mode===modes.READ">
		<input type="text" name="typeInput" [(ngModel)]="type" #typeInput="ngModel" [hidden]="true">
		<select class="ui fluid search dropdown types">
			<option value="empty">
				Search or enter a type
			</option>
			<option class="item" *ngFor="let type of dataTypes;" value="{{type.value}}">
				<span>
					<span class="title">{{type.title}}</span>
					<span class="description">{{type.description}}</span>
				</span>
			</option>
		</select>
		<div class="ui error message wide" *ngIf="!typeInput.valid">
			<p *ngIf="typeInput.control.hasError('required')">Select a type or enter your own type.</p>
		</div>
	</div>
</td>
<td class="language" [hidden]="!canDisplayLanguage && !language">
	<div class="read-mode" *ngIf="mode===modes.READ">
		<p class="value">
			<span *ngIf="isStringType">{{language}}</span>
			<span *ngIf="!isStringType">-</span>
		</p>
	</div>
	<div class="edit-mode" [hidden]="mode===modes.READ">
		<p class="value" *ngIf="!isStringType">-</p>
		<div class="ui error form" [hidden]="!isStringType">
			<input type="text" name="languageInput" [(ngModel)]="language" #languageInput [hidden]="true">
			<select class="ui fluid dropdown languages">
				<option value="empty">
					Select a language (opt)
				</option>
				<option class="item" *ngFor="let language of languages;" value="{{language.code}}">
					<span>
						<span class="title">{{language.code}}</span>
						<span class="description">{{language.name}}</span>
					</span>
				</option>
			</select>
		</div>
	</div>
</td>
<td *ngIf="canEdit">
	<div class="ui mini basic icon edit value buttons" *ngIf="mode===modes.READ">
		<button #editButton
		        class="ui icon edit button" title="Edit literal"
		        *ngIf="mode===modes.READ"
		        [ngClass]="{hidden:editButton.classList.contains('active')}"
		        (click)="onEdit($event)">
			<i class="pencil icon"></i>
		</button>
		<button #deleteButton
		        class="ui icon button" title="Delete Literal"
		        (click)="deleteLiteral()">
			<i class="remove red icon"></i>
		</button>
	</div>
	<div class="ui mini basic icon confirm buttons" *ngIf="mode===modes.EDIT">
		<button #cancelButton
		        class="ui icon button" title="Cancel"
		        (click)="cancelEdit()">
			<i class="reply icon"></i>
		</button>
		<button #confirmButton
		        class="ui icon button" title="Save"
		        [disabled]="!valueInput.valid || !typeInput.valid"
		        (click)="save()">
			<i class="checkmark green icon"></i>
		</button>
	</div>
	<div class="ui mini basic icon vertical updown buttons" *ngIf="partOfList">
		<button #moveUpButton
		        class="ui icon button"
		        [disabled]="isFirstItem"
		        (click)="moveUp()">
			<i class="up chevron icon"></i>
		</button>
		<button #moveDownButton
		        class="ui icon button"
		        [disabled]="isLastItem"
		        (click)="moveDown()">
			<i class="down chevron icon"></i>
		</button>
	</div>
</td>