@import "~@angular/material/theming";
@import "~app/vars";

:host {
	display: flex;

	// Align content to the right
	flex-direction: row;
	justify-content: flex-end;

	background: mat-color( map-get( $app-theme, background ), app-bar );
	color: mat-color( map-get( $app-theme, foreground ), text );
}

.ai {
	&-content {
		padding: 5px;

		font-size: 1rem;
	}
}
