<div class="ai-content">
	Workbench: {{! ! carbonldpWorkbench ? 'v' + carbonldpWorkbench : '???'}}&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;SDK: {{! ! carbonldpSDK ? 'v' + carbonldpSDK : '???'}}&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;Platform: <span class="platform">{{! ! carbonldpPlatform ? 'v' + carbonldpPlatform : '???'}}</span>
	<div class="ui flowing popup top right transition hidden">
		<div class="ui one column divided center aligned grid">
			<div class="column">
				<h4 class="ui header">No running platform</h4>
				<p>Make sure your platform <br> is live and running on <br> <a [attr.href]="carbonldpURL" target="_blank">{{carbonldpURL}}</a></p>
			</div>
		</div>
	</div>
</div>
