<!-- START: Delete confirmation message -->
<div class="ui confirm-deletion list inverted dimmer">
	<div class="content">
		<div class="center">
			<h2 class="ui header"><i class="trash outline red icon"></i> Are you sure?</h2>
			<p class="ui description">Confirm to delete the list</p>
			<div class="ui red button" title="Confirm deletion" (click)="deleteList()">Confirm</div>
			<div class="ui button" title="Cancel deletion" (click)="cancelDeletion()">Cancel</div>
		</div>
	</div>
</div>
<!-- END: Delete confirmation message -->


<!-- START: Indicator displaying if its a new or a modified list -->
<div class="ui top attached mini menu">
	<div class="item">
		<i class="sidebar icon"></i>
		@List
	</div>
	<div class="right menu" [ngClass]="{'added':!!list.added, 'modified':!!list.modified}" *ngIf="list.added || list.modified">
		<div class="ui item">
			{{ list.added ? 'New!' : list.modified ? 'Modified' : '' }}
		</div>
	</div>
</div>
<!-- END: Indicator displaying if its a new or a modified list -->


<!-- START: Content of the list -->
<table class="ui very compact striped small celled table attached segment">
	<!-- START: Headers of the list -->
	<tr class="center aligned">
		<th>@id/@value</th>
		<th>@type</th>
		<th>@language</th>
		<th>Actions</th>
	</tr>
	<!-- END: Headers of the list -->


	<!-- START: Pointers and Literals included in the list -->
	<ng-template ngFor let-item="$implicit" [ngForOf]="tempList" let-i="index" let-isFirst="first" let-isLast="last">
		<tr #literal
		    class="app-literal" [ngClass]="{'top aligned':literal.mode ==='EDIT','modified-literal':!!item.modified, 'added-literal':!!item.added}" *ngIf="!item.deleted && isLiteral(item)"
		    [literal]="item"
		    [isPartOfList]="true"
		    [isFirstItem]="isFirst"
		    [isLastItem]="isLast"
		    [canDisplayLanguage]="true"

		    (onSave)="saveItem($event, item, i)"
		    (onMoveUp)="moveUp($event, i)"
		    (onMoveDown)="moveDown($event, i)"
		    (onDeleteLiteral)="deleteItem($event, i)">
		</tr>
		<tr #pointer
		    class="app-pointer" [ngClass]="{'top aligned':pointer.mode ==='EDIT', 'modified-pointer':!!item.modified, 'added-pointer':!!item.added}" *ngIf="!item.deleted && isPointer(item)" colspan="0"
		    [pointer]="item"
		    [partOfList]="true"
		    [isFirstItem]="isFirst"
		    [isLastItem]="isLast"
		    [documentURI]="documentURI"
		    [blankNodes]="blankNodes"
		    [namedFragments]="namedFragments"

		    (onSave)="saveItem($event, item, i)"
		    (onMoveUp)="moveUp($event, i)"
		    (onMoveDown)="moveDown($event, i)"
		    (onGoToBlankNode)="goToBlankNode($event)"
		    (onGoToNamedFragment)="goToNamedFragment($event)"
		    (onDeletePointer)="deleteItem($event, i)">
		</tr>
	</ng-template>
	<!-- END: Pointers and Literals included in the list -->


	<!-- START: Message to display when list is empty -->
	<tr *ngIf="tempList.length === 0">
		<td colspan="4">
			<div class="ui message">
				<div class="header">
					Empty table
				</div>
				<p>Add a literal or a pointer to this ordered list.</p>
			</div>
		</td>
	</tr>
	<!-- END: Message to display when list is empty -->
</table>
<!-- END: Content of the list -->


<!-- START: Action buttons for the list -->
<div class="ui bottom attached mini menu">
	<a class="item" about="" (click)="askToConfirmDeletion()">
		<i class="remove icon"></i>
		Delete List
	</a>
	<div class="right menu">
		<a class="item" (click)="addLiteral()">
			<i class="plus icon"></i>
			Literal
		</a>
		<a class="item" (click)="addPointer()">
			<i class="plus icon"></i>
			Pointer
		</a>
	</div>
</div>
<!-- END: Action buttons for the list -->
