<div class="content widget-header">My platform
	<div class="right floated">
		<i class="refresh small icon widget-button" [class.hidden]="hide" (click)="refreshWidget()"></i>
		<i class="chevron down small icon widget-button" (click)="collapseWidget()" *ngIf="hide"></i>
		<i class="chevron up small icon widget-button" (click)="collapseWidget()" *ngIf="!hide"></i>
	</div>
</div>
<div class="content widget-body" [class.hidden]="hide" [class.broken]="errorMessage">
	<div class="widget-text">
		<table class="ui very basic small compact table">
			<tbody>
				<tr>
					<td class="three wide">
						<h4 class="ui header">
							URL
						</h4></td>
					<td>
						{{carbonldpURL}}
					</td>
				</tr>
				<tr>
					<td>
						<h4 class="ui header">
							Version
						</h4></td>
					<td>
						{{carbonldpVersion}}
					</td>
				</tr>
				<tr>
					<td>
						<h4 class="ui header">
							Build date
						</h4></td>
					<td>
						{{carbonldpBuildDate | date: 'medium'}}
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>