:host {
	display: block;

	.widget-header {
		background-color: orange;
		padding: .5em .5em;
	}

	.widget-button {
		cursor: pointer;
	}

	.widget-button.hidden {
		display: none;
	}

	.widget-body {
		display: flex;
		flex-direction: row;
		min-height: 100px;
		background-image: url(/assets/images/platformIcon.png);
		background-position: right bottom;
		background-repeat: no-repeat;
		background-size: 60px;
		background-origin: content-box;
	}

	.widget-body.broken {
		background-image: url(/assets/images/platformBrokenIcon.png);
	}

	.widget-body.hidden {
		display: none;
	}

	.widget-icon {
		height: 60px;
		align-self: flex-end;
	}

	.widget-text {
		flex: auto;
		color: black;
		line-height: normal;
		margin-right: 80px;
	}

}