<table class="ui selectable sortable celled small compact table">
	<thead>
		<tr>
			<th *ngFor="let header of headers" class="center aligned" [ngClass]="{
						sorted: sortedColumn === header.value,
						ascending: sortedColumn === header.value && ascending,
						descending: sortedColumn === header.value && ! ascending
					}" (click)="sortColumn( header )">{{ header.name }}
			</th>
			<th class="center aligned">
				Actions
			</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let app of apps; let i = index;" (click)="onOpenApp( app )">
			<td>
				<h3 class="ui image header">
					<div class="content">
						{{app.name}}
						<div class="sub header">
							{{app.slug}}
						</div>
					</div>
				</h3>
			</td>
			<td>
				{{app.created | date:"MMM dd, yyyy - hh:mm a"}}
			</td>
			<td>
				{{app.modified | date:"MMM dd, yyyy - hh:mm a"}}
			</td>
			<td class="center aligned">
				<cw-app-action-buttons [app]="app" (deleteApp)="onDeleteApp( app )"></cw-app-action-buttons>
			</td>
		</tr>
	</tbody>
</table>