<div *ngIf="resultset == null || resultset?.head == null || resultset?.results == null" class="ui segment center aligned">Invalid provided resultset.</div>
<div class="table-container" *ngIf="resultset !== null">
	<table class="ui celled very compact striped selectable sortable table">
		<thead>
			<tr>
				<th *ngFor="let varName of resultset.head.vars" class="center aligned" [ngClass]="{
						sorted: sortedColumn === varName,
						ascending: sortedColumn === varName && ascending,
						descending: sortedColumn === varName && ! ascending
					}" (click)="sortColumn( varName )">{{ varName }}
				</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let binding of bindings">
				<td *ngFor="let value of binding" [ngClass]="'cw-value--' + value.type">
					<span *ngIf="value?.type === 'uri'">{{ value.value | relative:query.endpoint | prefix:prefixes | uri }}</span>
					<span *ngIf="value?.type === 'bnode'">{{ value.value | bnode }}</span>
					<span *ngIf="value?.type === 'literal'">{{ value.value }}</span>
				</td>
			</tr>
		</tbody>
	</table>
</div>