<div class="ui basic segment treeview__options">

	<!-- Create Document/AccessPoint button -->
	<div title="Create a Document or Access Point"
	     class="ui top left pointing dropdown mini basic black button"
	     [ngClass]="{'disabled':nodeChildren.length===0}">
		<i class="plus icon"></i>
		<span class="text">New</span>
		<div class="menu">
			<a class="item" (click)="showCreateChildForm()"
			   title="Create new Document">
				<i class="file outline icon"></i>
				Child (Document)
			</a>
			<a class="item" (click)="showCreateAccessPointForm()"
			   title="Create new Access Point">
				<i class="selected radio icon"></i>
				Access Point
			</a>
		</div>
	</div>

	<!-- Refresh Button-->
	<button class="ui mini basic black right aligned icon button" title="Refresh - Or double click a node to refresh it"
	        (click)="refreshSelectedNode()">
		<i class="refresh icon"></i>
	</button>

	<!-- Delete Button -->
	<button class="ui mini basic red right aligned icon button" title="Delete document"
	        [ngClass]="{disabled: (nodeChildren.length===0 || !canDelete) }"
	        [disabled]="nodeChildren.length===0 || !canDelete"
	        (click)="showDeleteChildForm()">
		<i class="trash outline icon"></i>
	</button>
</div>

<div class="treeview__content">
	<ul></ul>
</div>