<div class="ui basic segment options treeview">
	<div class="ui top left pointing dropdown mini basic violet button" [ngClass]="{'disabled':nodeChildren.length===0}">
		<i class="plus icon"></i>
		<span class="text">New</span>
		<div class="menu">
			<a class="item" (click)="showCreateChildForm()">
				<i class="file outline icon"></i>
				Child (Document)
			</a>
			<a class="item" (click)="showCreateAccessPointForm()">
				<i class="selected radio icon"></i>
				Access Point
			</a>
		</div>
	</div>
	<button class="ui mini basic red right aligned icon button" title="Delete document"
	        [disabled]="nodeChildren.length===0"
	        (click)="showDeleteChildForm()">
		<i class="trash outline icon"></i>
	</button>
</div>

<div class="content treeview">
	<ul></ul>
</div>