.cw-error-view__content-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	width: 100%;
	height: 100%;

	color: #fff;
}

.cw-error-view__content {
	width: 70%;
	padding: 0 1.3em 1.3em;
	background: rgba(0, 0, 0, 0.3);
}

code {
	background: rgba(0, 0, 0, 0.3);
}