@import "~@angular/material/theming";
@import "~app/vars";

:host {
	width: 100%;
}

.ai {
	&-svg {
		max-width: 100%;
		max-height: 100%;

		&__icon {
			fill: #FF7604;
		}

		&__carbon {
			fill: mat-color( map-get( $app-theme, foreground ), text );
		}

		&__ldp {
			fill: mat-color( map-get( $app-theme, foreground ), secondary-text );
		}
	}
}
