<div class="content widget-header">Documents
	<div class="right floated">
		<i class="refresh small icon widget-button" (click)="refreshWidget()"></i>
		<i class="remove small icon widget-button" (click)="closeWidget()"></i>
	</div>
</div>
<div class="content widget-body" [ngStyle]="errorMessage ? {'background-image': 'url(' +'/assets/images/documentBrokenIcon.png'+ ')'} : {'background-image': 'url(' +'/assets/images/documentIcon.png'+ ')'}">
	<div class="widget-text">{{documentsTotalCount}}</div>
</div>


