<div class="content widget-header">Documents
	<div class="right floated">
		<i class="refresh small icon widget-button" (click)="refreshWidget()"></i>
		<i class="remove small icon widget-button" (click)="closeWidget()"></i>
	</div>
</div>
<div class="content widget-body">
	<div class="widget-text">{{documentsTotalCount}}</div>
	<img class="widget-icon" src="/assets/images/documentIcon.png" height="60" *ngIf="!errorMessage"/>
	<img class="widget-icon" src="/assets/images/documentBrokenIcon.png" height="60" *ngIf="errorMessage"/>
</div>


