<h1>My Apps</h1>
<div class="ui grid">
	<div class="row">
		<div class="eight wide column">
			<div class="ui icon buttons">
				<button class="ui inverted white button"
				        title="View as list"
				        [ngClass]="{active: !tileView}"
				        (click)="activateListView()">
					<i class="list layout icon"></i>
				</button>
				<button class="ui inverted white button"
				        title="View as tiles"
				        [ngClass]="{active: tileView}"
				        (click)="activateGridView()">
					<i class="grid layout icon"></i>
				</button>
			</div>
			<button class="ui icon basic inverted button" title="Refresh my apps"
			        (click)="refreshApps()">
				<i class="refresh icon" [ngClass]="{loading:loading}"></i>
			</button>
			<a class="ui right labeled icon button" title="Go to 'Create App' page"
			   [routerLink]="[ 'create' ]">
				Create app <i class="plus icon"></i>
			</a>
		</div>
		<div class="eight wide right aligned column">
			<div class="ui search">
				<form>
					<div class="ui left icon input" [ngClass]="{disabled:loading}">
						<input class="search" type="text" placeholder="Search..." [disabled]="apps.length===0">
						<i class="search icon"></i>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="column">
			<div *ngIf="errorMessage">
				<div class="ui icon warning message">
					<i class="warning sign icon"></i>
					<div class="content">
						<p>{{errorMessage}}</p>
					</div>
				</div>
			</div>
			<div *ngIf="warningMessage">
				<div class="ui icon warning message">
					<i class="warning sign icon"></i>
					<div class="content">
						<p>{{warningMessage}}</p>
					</div>
				</div>
			</div>
			<div *ngIf="!errorMessage && !warningMessage && !loading">
				<cw-apps-tiles *ngIf="tileView"
				               [apps]="results"
				               (deleteApp)="askConfirmationToDeleteApp( $event )"></cw-apps-tiles>
				<cw-apps-list *ngIf="!tileView"
				              [apps]="results"
				              (deleteApp)="askConfirmationToDeleteApp( $event )"
				              (openApp)="openApp( $event )"></cw-apps-list>
			</div>
			<div class="ui active centered large inline text inverted loader" *ngIf="loading">Loading</div>
		</div>
	</div>
</div>
<!--Ask for app deletion-->
<div class="ui delete-app-confirmation modal">
	<div class="header">
		Are you sure?
	</div>
	<div class="image content">
		<div class="description">
			<div class="ui header">You are about to delete the app "{{askingApp?.name}}"!</div>
			<p>If you proceed your App will be deleted.</p>
			<p>Do you want to proceed?</p>
			<div class="ui error message transition" *ngIf="deleteError">
				<i class="close icon" (click)="closeErrorMessage($event)"></i>
				<div class="header">
					{{deleteError.title}}
				</div>
				<p>
					<span *ngIf="deleteError.content">{{deleteError.content}}<br></span>
					<span *ngIf="deleteError.statusCode">Status: {{deleteError.statusCode}} - {{deleteError.statusMessage}}<br></span>
					<span *ngIf="deleteError.endpoint">URI: {{deleteError.endpoint}}</span>
				</p>
			</div>
		</div>
	</div>
	<div class="actions">
		<button class="ui black deny button" [disabled]="deleting">
			No
		</button>
		<button class="ui positive right labeled icon button" [disabled]="deleting" [ngClass]="{loading:deleting, disabled:deleting}" (click)="onApproveAppDeletion(askingApp)">
			Yes, proceed
			<i class="checkmark icon"></i>
		</button>
	</div>
</div>