<div class="ui equal width grid">
	<div class="column">
		<button class="ui icon basic inverted button" title="Refresh my apps"
		        (click)="refreshAgents()">
			<i class="refresh icon" [ngClass]="{loading:loading}"></i>
		</button>
		<button class="ui right labeled icon button" title="Create a new Agent" [routerLink]="['create']">
			Create Agent <i class="plus icon"></i>
		</button>
	</div>
</div>
<div class="ui active centered large inline text inverted loader" *ngIf="loading">Loading</div>
<div class="agents list" [hidden]="loading">
	<table class="ui selectable sortable celled small very compact table" *ngIf="agents.length > 0">
		<thead>
			<tr>
				<th *ngFor="let header of headers" class="center aligned" [ngClass]="{
						sorted: sortedColumn === header.value,
						ascending: sortedColumn === header.value && ascending,
						descending: sortedColumn === header.value && ! ascending
					}" (click)="sortColumn( header )">{{ header.name }}
				</th>
				<th class="center aligned">Actions</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let agent of agents; let i = index;" (click)="openAgent($event, agent)">
				<td>
					<span>{{agent.name}}</span>
					<br>
					<span>{{agent.id}}</span>
				</td>
				<td>
					{{agent.created | date:"MMM dd, yyyy - hh:mm a"}}
				</td>
				<td>
					{{agent.modified | date:"MMM dd, yyyy - hh:mm a"}}
				</td>
				<td class="center aligned">
					<div class="ui small basic icon buttons">
						<a class="ui icon button tooltip" (click)="onClickEditAgent($event, agent)" title="Edit Agent">
							<i class="write icon"></i>
						</a>
						<button class="ui icon button tooltip" (click)="onClickDeleteAgent($event,agent); agentDeleter.show();" title="Delete Agent">
							<i class="trash outline icon"></i>
						</button>
					</div>
				</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<th colspan="4">
					<label>Show: </label>
					<select class="ui dropdown"
					        [ngModel]="agentsPerPage"
					        (ngModelChange)="agentsPerPage = $event; activePage = paginator.activePage; changeAgentsPerPage($event);">
						<option class="item" value="5">5</option>
						<option class="item" value="10"
						        *ngIf="totalAgents > 10">10
						</option>
						<option class="item" value="15"
						        *ngIf="totalAgents > 15">15
						</option>
						<option class="item" value="20"
						        *ngIf="totalAgents > 20">20
						</option>
						<option class="item" value="{{totalAgents}}">All</option>
					</select>
					<cw-paginator #paginator
					              [totalElements]="totalAgents"
					              [elementsPerPage]="agentsPerPage"
					              (onPageChange)="changePage($event)"></cw-paginator>
				</th>
			</tr>
		</tfoot>
	</table>
	<div class="ui warning message" *ngIf="agents.length===0 && !errorMessage">
		<i class="attention icon"></i> There are no <strong>Agents</strong> to display
	</div>
	<cw-message [message]="errorMessage" [type]="'error'" *ngIf="!!errorMessage"></cw-message>
</div>
<!--Ask for agent deletion-->
<cw-agent-deleter #agentDeleter [context]="appContext" [agent]="deletingAgent" (onSuccess)="refreshAgents()"></cw-agent-deleter>