:host {
	display: block;

	height: 60px;
}

.app-header {
	&__logo {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;

		// semantic-ui
		padding: 0 !important;
		width: 150px;

		&__icon {
			width: 130px;
			height: 32.5px;
		}
	}
}
