.app-header {
	&__logo {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;

		width: 150px;

		// semantic-ui
		padding: 0 !important;

		&__icon {
			height: 35px;
		}
	}
}

:host {
	display: block;

	height: 60px;
}
