:host {
	display: block;
	.hidden {
		display: none;
	}

	table.users {
		margin-top: 0;
		border: 1px solid #d3d3d3;

		tr.user {
			line-height: 1.5em;
		}
	}

	a.add.parent:hover {
		cursor: pointer;
	}

	.ui.parent.role.input {
		max-height: 200px;
		overflow-y: scroll;
		border: 1px solid lightgray;
	}

	.ui.top.segment.embedded {
		border-top: none;
		max-height: 58px;
	}

	.ui.attached.segment.users {
		max-height: 400px;
		overflow-y: scroll;
	}

	.ui.attached.segment.options {
		max-height: 58px;
	}

	.ui.secondary.menu.tabs {
		max-height: 40px;
		border-left: 0;
		border-right: 0;
		border-top: 0;
	}

	.ui.bottom.segment.embedded {
		border-bottom: none;
	}
}