<div class="ui divided grid segment" [ngClass]="{loading:loadingDocument || savingDocument}">

	<div class="stretched row document-content-wrapper">
		<div class="error messages" *ngIf="messages.length > 0">
			<ng-template ngFor let-message="$implicit" [ngForOf]="messages" let-i="index">
				<cw-message [message]="message" [type]="'error'" [closable]="true"></cw-message>
			</ng-template>
		</div>
		<cw-document-treeview class="five wide column treeview-container"
		                      [refreshNodes]="onRefreshNode"
		                      [openNode]="onOpenNode"

		                      (onSelectDocuments)="changeSelection($event)"
		                      (onShowCreateChildForm)="documentCreator.show()"
		                      (onShowDeleteChildForm)="documentDeleter.show()"
		                      (onShowCreateAccessPointForm)="accessPointCreator.show()"
		                      (onError)="handleExternalError($event)"
		                      (onLoadingDocument)="onLoadingDocument($event)"
		                      (onResolveUri)="resolveDocument($event)"></cw-document-treeview>
		<cw-document-viewer class="eleven wide column"
		                    [document]="inspectingDocument"
		                    [displaySuccessMessage]="onDisplaySuccessMessage"

		                    (onError)="handleExternalError($event)"
		                    (onRefreshNode)="refreshNode($event)"
		                    (onOpenNode)="openNode($event)"
		                    (onSavingDocument)="showLoading($event)"
		                    (onLoadingDocument)="onLoadingDocument($event)"
		                    (onRefreshDocument)="refreshDocument($event)"></cw-document-viewer>
		<cw-document-creator #documentCreator
		                     [parentURI]="selectedDocumentURI"
		                     (onSuccess)="onSuccessCreateDocument($event)"></cw-document-creator>
		<cw-access-point-creator #accessPointCreator
		                         [parentURI]="selectedDocumentURI"
		                         (onSuccess)="onSuccessAccessPoint($event)"></cw-access-point-creator>
		<cw-document-deleter #documentDeleter
		                     [documentURIs]="selectedDocumentURIs"
		                     (onSuccess)="onSuccessDeleteDocument($event)"></cw-document-deleter>
	</div>
</div>
