<mat-card class="ag-rows ag-flexible">
	<div class="ai-explorer__container ag-rows ag-flexible">
		<app-horizontal-resizable-grid class="ag-flexible">
			<app-grid-column class="ai-explorer__sidebar ag-rows">
				<div class="ai-documentActions">
					<button class="ag-button--withIcon"
					        mat-icon-button>
						<fa-icon [icon]="faPlus"></fa-icon>
					</button>
					<button class="ag-button--withIcon"
					        mat-icon-button>
						<fa-icon [icon]="faSync"></fa-icon>
					</button>
					<button class="ag-button--withIcon"
					        mat-icon-button
					        color="warn">
						<fa-icon [icon]="faTrash"></fa-icon>
					</button>
				</div>
				<app-document-tree
					class="ai-documentTree ag-rows ag-flexible"
					(onSelectDocuments)="on_tree_selectDocuments($event)"
					(onOpenDocument)="on_tree_openDocument($event)"
				></app-document-tree>
			</app-grid-column>
			<app-vertical-grid-divider></app-vertical-grid-divider>
			<app-grid-column>
				<app-document-viewer
					class="ai-documentViewer"
					[document]="openDocument$ | async"
				></app-document-viewer>
			</app-grid-column>
		</app-horizontal-resizable-grid>
	</div>
</mat-card>
