:host {
	color: black;
	display: block;

	.hidden {
		display: none;
	}

	table.roles {
		margin-top: 0;
		tr.role {
			line-height: 1.5em;
		}
	}

	.title.segment {
		.ui.header {
			margin-top: 0;
		}
	}

	.ui.roles.input {
		max-height: 200px;
		overflow-y: scroll;
		border: 1px solid lightgray;
	}

	.credentialsTab {

		padding: 0;

		.ui.segments {
			border: none;
		}

		.credentialsTab-credentials {

			.credentials-types {

				padding: 0;

				.ui.tabular.menu {
					height: 100%;

					.active.item {

						border-left: none;
					}
					.active.item:first-child {
						border-top: none;
					}
				}
			}
		}
	}
}