<!-- START: User details form -->
<form class="ui error form" #userForm="ngForm" (submit)="onSubmit(userForm.value, $event)">


	<!-- START: User name -->
	<div class="ui top attached title segment">
		<button class="ui icon right floated circular basic mini button" title="Close" type="button"
		        *ngIf="canClose"
		        (click)="close()">
			<i class="icon remove"></i>
		</button>
		<h3 class="ui header" [ngSwitch]="mode">
			<span *ngSwitchCase="Modes.CREATE">Creating a user...</span>
			<span *ngSwitchDefault class="sub header">{{user?.id}}</span>
		</h3>
	</div>
	<!-- END: User name -->


	<!-- START: User details -->
	<div class="ui attached segment">

		<!-- START: Tabs -->
		<div class="ui top attached tabular menu">
			<a class="active item" data-tab="credentials">Credentials</a>
		</div>
		<!-- END: Tabs -->


		<!-- START: Credentials Tab -->
		<div class="ui bottom attached active tab segment credentialsTab" data-tab="credentials">
			<div class="ui segments">


				<!-- START: credentials description -->
				<div class="ui segment credentialsTab-description">
					<p>This user currently authenticates using Basic credentials (Username and Password).</p>
				</div>
				<!-- END: credentials description -->


				<!-- START: Slug section -->
				<div class="ui segment credentialsTab-slug" *ngIf="mode === Modes.CREATE">

					<!-- START: Slug input -->
					<div class="field credentialsTab-slug"
					     [ngClass]="{error: !slug.valid}">
						<label>Slug: <span cw-grayed-out>(Optional)</span></label>
						<div class="ui fluid input">
							<input type="text" name="slug"
							       placeholder="E.g: my-user-slug/"
							       #slug="cwValidation" cwValidation cw-slug
							       [ngModel]="userFormModel.slug"
							       [disabled]="mode === Modes.READ"
							       (ngModelChange)="userFormModel.slug = getSanitizedSlug($event)"
							       (blur)="slugLostFocus($event)">
						</div>
						<cw-error-label *ngIf="!slug.valid">
							<span *ngIf="slug.control.hasError('invalidSlug')">Please, provide a valid slug/id for the user. (Only numbers and letters with dashes)</span>
						</cw-error-label>
					</div>
					<!-- END: Slug input -->

				</div>
				<!-- END: Slug section -->


				<!-- START: credentials contents -->
				<div class="ui segment credentialsTab-credentials">
					<div class="ui grid">


						<!-- START: credentials-types tabs menu-->
						<div class="two wide column credentials-types">
							<div class="ui vertical fluid tabular menu">
								<a class="active item" data-tab="credentials-basic">Basic</a>
							</div>
						</div>
						<!-- END: credentials-types tabs menu-->


						<!-- START: credentials-types -->
						<div class="fourteen wide stretched column credentials-content">

							<!-- START: credentials-type basic -->
							<div class="ui active tab" data-tab="credentials-basic">


								<!-- START: Basic Credentials From group-->
								<basic-credentials [mode]="mode"
								                   [basicCredentialsFormModel]="userFormModel.basicCredentialsFormModel"></basic-credentials>
								<!-- END: Basic Credentials From group-->

							</div>
							<!-- END: credentials-type basic -->
						</div>
						<!-- END: credentials-types -->
					</div>
				</div>
				<!-- END: credentials contents -->

			</div>
		</div>
		<!-- END: Credentials Tab -->


		<!-- START: Roles Tab -->
		<div class="ui bottom attached tab segment" data-tab="roles">
			<!-- START: Roles input -->
			<div class="field">
				<label>Roles: <span cw-grayed-out>(Optional)</span></label>
				<div class="ui fluid roles input">
					<select multiple name="roles"
					        class="roles hidden"
					        [(ngModel)]="userFormModel.roles">
						<option value="">Please Select</option>
						<option *ngFor="let role of userFormModel.roles" [ngValue]="country">{{role}}</option>
					</select>
					<table class="ui very compact very basic small celled striped roles table" *ngIf="mode === Modes.READ">
						<tbody>
							<tr class="bottom aligned role" *ngFor="let role of userRoles; let i = index;">
								<td>
									{{role.name}}<br>
									{{role.id}}
								</td>
							</tr>
							<tr class="warning" *ngIf="userRoles.length===0">
								<td>
									<i class="attention icon"></i>User without Roles.
								</td>
							</tr>
						</tbody>
					</table>
					<cw-roles-chooser *ngIf="mode !== Modes.READ && false"
					                  [selectedRoles]="userRoles"
					                  [bordered]="false"
					                  (onChangeSelection)="changeRoles($event)"></cw-roles-chooser>
				</div>
			</div>
			<!-- END: Roles input -->
		</div>
		<!-- END: Roles Tab -->

	</div>
	<!-- END: User details -->


	<!-- START: User options buttons -->
	<cw-message class="ui attached segment" [message]="errorMessage" [type]="'error'" [closable]="true" (onClose)="closeError($event)" *ngIf="!!errorMessage"></cw-message>
	<div class="ui bottom attached segment" *ngIf="mode !== Modes.READ">
		<button class="ui mini basic right floated button" type="submit"
		        [ngClass]="{ 'disabled': !userForm.valid, 'green': userForm.valid  }"
		        (click)="onSubmit(userForm.value, $event)"
		        [disabled]="!userForm.valid"
		        [ngSwitch]="mode">
			<span *ngSwitchCase="Modes.CREATE">Create</span>
			<span *ngSwitchDefault>Save</span>
		</button>
		<a class="ui mini basic button" type="button" title="Cancel" [routerLink]="['../']">Cancel</a>
	</div>
	<!-- END: User options buttons -->
</form>
<!-- END: User details form -->


<!-- START: Success Message -->
<div class="ui success message transition" #message *ngIf="!!displaySuccessMessage">
	<i class="close icon" (click)="closeSuccessMessage($event, message)"></i>
	<div class="header" [ngSwitch]="mode">
		User <span *ngSwitchCase="Modes.CREATE">Created</span><span *ngSwitchDefault>Saved</span>
	</div>
	<p [ngSwitch]="mode">
		The user was <span *ngSwitchCase="Modes.CREATE">created</span><span *ngSwitchDefault>modified</span> successfully
	</p>
	<p *ngIf="timer>0">You will be redirected to your users list in <strong class="timer">{{timer}}</strong> seconds.</p>
</div>
<!-- END: Success Message -->