<p class="ui grey label status indicator" *ngIf="!!property.added">Added</p>
<p class="ui grey label status indicator" *ngIf="!!property.modified">Changed</p>


<ng-container [ngSwitch]="name">
	<!-- START: Property @Id  -->
	<cw-property-id *ngSwitchCase="'@id'"
	                class="content"
	                [mode]="mode"
	                [documentURI]="documentURI"
	                [blankNodes]="blankNodes"
	                [namedFragments]="namedFragments"
	                [isPartOfNamedFragment]="isPartOfNamedFragment"
	                [canEdit]="canEdit"
	                [property]="property"
	                [accessPointsHasMemberRelationProperties]="accessPointsHasMemberRelationProperties"
	                (onChangeProperty)="changeProperty( $event )">
	</cw-property-id>
	<!-- END: Property @Id  -->


	<!-- START: Property @type  -->
	<cw-property-type *ngSwitchCase="'@type'"
	                  class="content"
	                  [property]="property">
	</cw-property-type>
	<!-- END: Property @Id  -->


	<!-- START: Normal Property -->
	<ng-container *ngSwitchDefault>
		<cw-property-content *ngIf="!property.deleted"
		                     class="content cw-property-content"
		                     [property]="property"
		                     [mode]="mode"
		                     [documentURI]="documentURI"
		                     [blankNodes]="blankNodes"
		                     [namedFragments]="namedFragments"
		                     [isPartOfNamedFragment]="isPartOfNamedFragment"
		                     [canEdit]="canEdit"
		                     [existingProperties]="existingProperties"
		                     [accessPointsHasMemberRelationProperties]="accessPointsHasMemberRelationProperties"

		                     (onGoToBlankNode)="goToBlankNode( $event )"
		                     (onGoToNamedFragment)="goToNamedFragment( $event )"
		                     (onChangeProperty)="changeProperty( $event )"
		                     (onDeleteProperty)="deleteProperty( $event )"
		                     (onSaveNewProperty)="saveNewProperty( $event )">
		</cw-property-content>
	</ng-container>
	<!-- END: Normal Property -->

</ng-container>