<div class="content">
	<a class="header" [routerLink]="['App',{slug: app.slug}]">
		{{app.name}}
	</a>
</div>
<div class="content">
	<div class="ui small feed">
		<div class="event">
			<div class="content">
				<h3 class="ui sub header">
					Modified:
				</h3>
				<div class="summary">
					<span class="date">{{app.modified | date:"MMM dd, yyyy - hh:mm a"}}</span>
				</div>
			</div>
		</div>
		<div class="event">
			<div class="content">
				<h3 class="ui sub header">
					Created:
				</h3>
				<div class="summary">
					<span class="date">{{app.created | date:"MMM dd, yyyy - hh:mm a"}}</span>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="extra center aligned content">
	<cw-app-action-buttons [app]="app" (deleteApp)="onDeleteApp( app )"></cw-app-action-buttons>
</div>