<form class="ui delete document basic modal error form" #deleteDocumentModal #deleteDocumentForm="ngForm" (submit)="onSubmitDeleteDocument(deleteDocumentFormModel.value, $event)">
	<!-- END: Header of document deleter -->
	<div class="header">
		<h2 class="ui inverted header"><i class="trash outline red icon"></i> Are you sure?</h2>
	</div>
	<!-- END: Header of document deleter -->


	<!-- START: Content of document deleter -->
	<div class="content">
		<p class="ui description">
			<span>You are about to delete the following document:</span><br><br>
			<span>'{{documentURI.join(", ")}}'</span><br><br>
			<span>If you delete it, all its children and its access points will also be deleted.</span><br>
			<span>Do you really want to proceed?</span>
		</p>
		<cw-message [message]="errorMessage" [type]="'error'" [closable]="true" (onClose)="clearErrorMessage($event)" *ngIf="!!errorMessage"></cw-message>
	</div>
	<!-- END: Content of document deleter -->


	<!-- START: Action buttons of document deleter -->
	<div class="actions">
		<div class="ui button" title="Cancel deletion"
		     [ngClass]="{disabled:isDeleting}"
		     [attr.disabled]="isDeleting"
		     (click)="hideDeleteDocumentForm()">No
		</div>
		<div class="ui red button" title="Confirm deletion"
		     [ngClass]="{loading:isDeleting}"
		     (click)="onSubmitDeleteDocument(deleteDocumentForm.value, $event); clearErrorMessage()">Yes
		</div>
	</div>
	<!-- END: Action buttons of document deleter -->
</form>