<form class="ui delete document basic modal error form" #deleteDocumentModal #deleteDocumentForm="ngForm" (submit)="onSubmitDeleteDocument(deleteDocumentFormModel.value, $event)">
	<!-- END: Header of document deleter -->
	<div class="header">
		<h2 class="ui inverted header"><i class="trash outline red icon"></i> Are you sure?</h2>
	</div>
	<!-- END: Header of document deleter -->


	<!-- START: Content of document deleter -->
	<div class="content">
		<div class="ui description">
			<p>You are about to delete the following {{ documentURIs.length === 1 ? 'document' : 'documents' }}:</p>
			<ul class="documentList">
				<li *ngFor="let documentURI of documentURIs">{{documentURI}}</li>
			</ul>
			<p>If you delete {{ documentURIs.length === 1 ? 'it' : 'them' }}, all of {{ documentURIs.length === 1 ? 'its' : 'their' }} children and access points will also be deleted.</p>
			<p>Do you want to proceed?</p>
		</div>
	</div>
	<!-- END: Content of document deleter -->

	<!-- START: Action buttons of document deleter -->
	<div class="actions">
		<div class="ui button" title="Cancel deletion"
		     [ngClass]="{disabled:isDeleting}"
		     [attr.disabled]="isDeleting"
		     (click)="hide()">No
		</div>
		<div class="ui red button" title="Confirm deletion"
		     [ngClass]="{loading:isDeleting}"
		     (click)="onSubmitDeleteDocument(deleteDocumentForm.value, $event); clearErrorMessage()">Yes
		</div>
	</div>
	<!-- END: Action buttons of document deleter -->

	<cw-message [message]="errorMessage" [type]="'error'" [closable]="true" (onClose)="clearErrorMessage($event)" *ngIf="!!errorMessage"></cw-message>
</form>
