<div class="ui basic segment users" [ngClass]="{loading: loading}">
	<table class="ui selectable sortable celled small very compact users table">
		<thead>
			<tr *ngIf="availableUsers.length > 0">
				<th class="center aligned">Assigned</th>
				<th *ngFor="let header of headers" class="center aligned" [ngClass]="{
						sorted: sortedColumn === header.value,
						ascending: sortedColumn === header.value && ascending,
						descending: sortedColumn === header.value && ! ascending
					}" (click)="sortColumn( header )">{{ header.name }}
				</th>
			</tr>
			<tr *ngIf="availableUsers.length === 0">
				<th colspan="2"></th>
			</tr>
		</thead>
		<tbody>
			<tr class="middle aligned user"
			    *ngFor="let user of availableUsers; let i = index;" (click)="onClickUser($event, user)">
				<td class="collapsing center aligned">
					<div class="ui checkbox" [ngClass]="{'radio': single}">
						<input name="user_checkbox"
						       [type]="single? 'radio' : 'checkbox'"
						       [value]="user.id"
						       [checked]="user.checked">
					</div>
				</td>
				<td>
					<p>{{user.name}}<br>
						{{user.id}}
					</p>
				</td>
			</tr>
			<tr class="warning" *ngIf="availableUsers.length === 0">
				<td colspan="2">
					<i class="attention icon"></i>There are currently no Users.<br>
					You can add users by going to Security -> Users -> <strong>Create New User</strong>
				</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<th colspan="2" *ngIf="availableUsers.length > 0">
					<label>Show: </label>
					<select class="ui dropdown"
					        [ngModel]="usersPerPage"
					        (ngModelChange)="usersPerPage = $event; activePage = paginator.activePage; changeUsersPerPage($event);">
						<option class="item" value="5">5</option>
						<option class="item" value="10"
						        *ngIf="totalUsers > 10">10
						</option>
						<option class="item" value="15"
						        *ngIf="totalUsers > 15">15
						</option>
						<option class="item" value="20"
						        *ngIf="totalUsers > 20">20
						</option>
						<option class="item" value="{{totalUsers}}">All</option>
					</select>
					<cw-paginator #paginator
					              [totalElements]="totalUsers"
					              [elementsPerPage]="usersPerPage"
					              (onPageChange)="changePage($event)"></cw-paginator>
				</th>
				<th colspan="2" *ngIf="availableUsers.length === 0"></th>
			</tr>
		</tfoot>
	</table>
</div>