<p class="header">
	@type
</p>
<div class="description">
	<button class="ui right labeled icon basic mini button" (click)="addType()">
		<i class="plus icon"></i>
		Add Type
	</button>
	<div class="clearfix"></div>
	<app-types
		[types]="types"
		(onTypesChange)="on_types_change($event)"
	></app-types>

	<!-- START: Table with URI type -->
	<table class="ui very compact striped small celled table">
		<tr class="center aligned">
			<th>@type</th>
		</tr>
		<tr *ngFor="let type of types; let j = index;">
			<td>{{type}}</td>
		</tr>
	</table>
	<!-- END: Table with URI type -->
</div>
