:host {
	display: block;
}

.cw-url {
	// To align the icon and the link on the same row
	display: flex;
	flex-direction: row;
}

.cw-url-icon {
	// Separate the icon from the link
	// Unfortunately this needs to have !important since a Semantic UI rule adds this exact property with more specificity
	margin-right: 5px !important;
}

.cw-url-linkContainer {
	// Add some height so horizontal scrollbars fit
	height: 35px;

	overflow: auto;
	// Avoid long URLs from being broken into multiple lines
	white-space: nowrap;
}

.cw-slug {
	color: #FF4500;
}

// Semantic UI overrides
/deep/ .ui.items > .item .meta * {
	margin-right: 0;
}

.cw-name[hidden]{
	display: none;
}

.cw-name, .cw-propContent-formWrapper {
	// Center child items vertically
	display: flex;
	flex-direction: row;
	align-items: center;

	margin-bottom: 0.5em;
	height: 30px;

	font-size: 1.1em;
	font-weight: bold;
	// Reset line-height. Semantic UI's line-height doesn't let icons be aligned with other elements
	line-height: normal;

	> * {
		// !important is required since Semantic UI rules are more specific
		margin-right: 5px !important;
	}

	// Show the edit button on hover
	&:hover .cw-nameEditButton {
		display: inline;
	}
}

.cw-nameEditButton {
	display: none;
}
.cw-nameInput {
	display: inline;
	padding: 5px !important;

	// !important is required since Semantic UI rules are more specific
	width: 400px !important;
}
.cw-nameEditButton, .cw-nameCancelButton {
	cursor: pointer;
}

.cw-nameForm{
	// !important is required since Semantic UI rules are more specific
	width: 400px !important;
}
