<!-- START: Display friendly name -->
<div class="header">
	<div [hidden]="mode === modes.EDIT" (dblclick)="onEditId()" class="cw-name">
		<span class="cw-nameLabel">{{value | decodeURI | getSlug}}</span>
		<i class="cw-nameEditButton pencil small icon"
		   (click)="onEditId()" *ngIf="canEdit && isPartOfNamedFragment"></i>
	</div>
	<!-- START: EDIT mode for property id -->
	<div [hidden]="mode === modes.READ">
		<div class="ui error form cw-propContent-formWrapper">
			<form class="ui form cw-nameForm"
			      (submit)="saveId()">
				<input type="text" required
				       [existingFragments]="existingFragments"
				       [property]="property"
				       [id]="id"
				       [documentURI]="documentURI"
				       [originalId]="originalId"
				       [control]="idInput"
				       cw-property-id
				       cw-uri
				       name="idInput"
				       [(ngModel)]="value" #idInput="ngModel"
				       (keyup.escape)="cancelModification()"
				       (keyup.enter)="idInput.valid? saveId() : null">
			</form>
			<i class="cw-nameCancelButton small reply icon"
			   *ngIf="mode === modes.EDIT"
			   (click)="cancelModification()"></i>
			<i class="cw-nameCancelButton small check icon"
			   *ngIf="mode === modes.EDIT"
			   (click)="saveId()"></i>
		</div>
		<!-- Error messages -->
		<cw-error-label *ngIf="!idInput.valid">
			<p *ngIf="idInput.control.hasError('required')">Enter an id.</p>
			<p *ngIf="idInput.control.hasError('invalidParent')">Enter a valid name for a Named Fragment. A name must contains the parent URI ({{documentURI}}<- Your fragment name ->).</p>
			<p *ngIf="idInput.control.hasError('invalidURIAddress')">Enter a valid URL. Only alphanumeric values (a-z, A-Z, 0..9)</p>
			<p *ngIf="idInput.control.hasError('duplicatedHashtag')">Use only one hashtag (#) symbol.</p>
			<p *ngIf="idInput.control.hasError('duplicatedNamedFragmentName')">A Fragment with that name already exists.</p>
		</cw-error-label>
	</div>
	<!-- END: EDIT mode for property id -->
</div>
<!-- END: Display friendly name -->

<!-- START: EDIT and READ modes -->
<div class="meta">
	<!-- START: READ mode -->
	<div [hidden]="mode === modes.EDIT">
		<p *ngIf="!isUrl(value)">
			<i class="file outline icon"></i> {{value}}
		</p>
		<div class="cw-url"
		     *ngIf="isUrl(value)">
			<i class="cw-url-icon file outline icon"></i>
			<div class="cw-url-linkContainer">
				<a class="name" [attr.href]="value" target="_blank">
					<span>{{getParentURI(value)}}</span>
					<span *ngIf="URI.hasFragment( value )">#</span>
					<span class="cw-slug">{{value | getSlug}}</span>
					<span *ngIf="value.endsWith( '/' )">/</span>
				</a>
			</div>
		</div>
	</div>
	<!-- END: READ mode -->


	<!-- START: EDIT mode -->
	<!--<div [hidden]="mode === modes.READ">
		<div class="ui error form">
			<div class="ui fluid action input">
				<input type="text" required
				       [existingFragments]="existingFragments"
				       [property]="property"
				       [id]="id"
				       [documentURI]="documentURI"
				       [originalId]="originalId"
				       [control]="idInput"
				       cw-property-id
				       cw-uri
				       name="idInput"
				       [(ngModel)]="value" #idInput="ngModel"
				       (keyup.escape)="cancelModification()"
				       (keyup.enter)="idInput.valid? saveId() : null">
				<div class="ui save-cancel buttons">
					<button class="ui button"
					        [disabled]="!idInput.valid"
					        (click)="saveId(idInput.value)">Save
					</button>
					<div class="ui dropdown icon button">
						<i class="dropdown icon"></i>
						<div class="menu">
							<div class="item" (click)="cancelModification()">Cancel</div>
						</div>
					</div>
				</div>
			</div>
			<cw-error-label class="ui error message wide" *ngIf="!idInput.valid">
				<p *ngIf="idInput.control.hasError('required')">Enter an id.</p>
				<p *ngIf="idInput.control.hasError('invalidParent')">Enter a valid name for a Named Fragment. A name must contains the parent URI ({{documentURI}}<- Your fragment name ->).</p>
				<p *ngIf="idInput.control.hasError('invalidURIAddress')">Enter a valid URL. Only alphanumeric values (a-z, A-Z, 0..9)</p>
				<p *ngIf="idInput.control.hasError('duplicatedHashtag')">Use only one hashtag (#) symbol.</p>
				<p *ngIf="idInput.control.hasError('duplicatedNamedFragmentName')">A Fragment with that name already exists.</p>
			</cw-error-label>
		</div>
	</div>-->
	<!-- END: EDIT mode -->
</div>
<!-- END: EDIT and READ modes -->
