<!-- START: Display friendly name -->
<div class="header">
	<p>{{value | decodeURI | getSlug}}</p>
</div>
<!-- END: Display friendly name -->

<!-- START: EDIT and READ modes -->
<div class="meta">
	<!-- START: READ mode -->
	<div [hidden]="mode === modes.EDIT">
		<p *ngIf="!isUrl(value)">
			<i class="file outline icon"></i> {{value}}
		</p>
		<div class="app-url"
		     *ngIf="isUrl(value)">
			<i class="app-url-icon file outline icon"></i>
			<div class="app-url-linkContainer">
				<a class="name" [attr.href]="value" target="_blank">
					<span>{{getParentURI( value )}}</span>
					<span *ngIf="URI.hasFragment( value )">#</span>
					<span class="app-slug">{{value | getSlug}}</span>
					<span *ngIf="value.endsWith( '/' )">/</span>
				</a>
			</div>
		</div>
	</div>
	<!-- END: READ mode -->


	<!-- START: EDIT mode -->
	<div [hidden]="mode === modes.READ">
		<div class="ui error form">
			<div class="ui fluid action input">
				<input type="text" required
				       [existingFragments]="existingFragments"
				       [property]="property"
				       [id]="id"
				       [documentURI]="documentURI"
				       [originalId]="originalId"
				       [control]="idInput"
				       app-property-id
				       app-uri
				       name="idInput"
				       [(ngModel)]="value" #idInput="ngModel"
				       (keyup.escape)="cancelModification()"
				       (keyup.enter)="idInput.valid? saveId() : null">
				<div class="ui save-cancel buttons">
					<button class="ui button"
					        [disabled]="!idInput.valid"
					        (click)="saveId()">Save
					</button>
					<div class="ui dropdown icon button">
						<i class="dropdown icon"></i>
						<div class="menu">
							<div class="item" (click)="cancelModification()">Cancel</div>
						</div>
					</div>
				</div>
			</div>
			<app-error-label class="ui error message wide" *ngIf="!idInput.valid">
				<p *ngIf="idInput.control.hasError('required')">Enter an id.</p>
				<p *ngIf="idInput.control.hasError('invalidParent')">Enter a valid name for a Named Fragment. A name must contains the parent URI ({{documentURI}}<- Your fragment name ->).</p>
				<p *ngIf="idInput.control.hasError('invalidURIAddress')">Enter a valid URL. Only alphanumeric values (a-z, A-Z, 0..9)</p>
				<p *ngIf="idInput.control.hasError('duplicatedHashtag')">Use only one hashtag (#) symbol.</p>
				<p *ngIf="idInput.control.hasError('duplicatedNamedFragmentName')">A Fragment with that name already exists.</p>
			</app-error-label>
		</div>
	</div>
	<!-- END: EDIT mode -->
</div>
<!-- END: EDIT and READ modes -->


<!-- START: options buttons -->
<div class="description" *ngIf="canEdit && isPartOfNamedFragment">
	<div class="ui icon bottom left pointing dropdown basic mini button options" title="Options">
		<i class="ellipsis horizontal icon"></i>
		<div class="menu">
			<div class="item" title="Edit Fragment's name" (click)="onEditId()">
				<i class="edit icon"></i> Edit
			</div>
		</div>
	</div>
</div>
<!-- END: options buttons -->
