/* lato-400normal - latin */
@font-face {
	font-family: "Lato";
	font-style: normal;
	font-display: swap;
	font-weight: 400;
	src: local("Lato Regular "),
	local("Lato-Regular"),
	url("~typeface-lato/files/lato-latin-400.woff2") format("woff2"), /* Super Modern Browsers */
	url("~typeface-lato/files/lato-latin-400.woff") format("woff"); /* Modern Browsers */
}

/* lato-400italic - latin */
@font-face {
	font-family: "Lato";
	font-style: italic;
	font-display: swap;
	font-weight: 400;
	src: local("Lato Regular italic"),
	local("Lato-Regularitalic"),
	url("~typeface-lato/files/lato-latin-400italic.woff2") format("woff2"), /* Super Modern Browsers */
	url("~typeface-lato/files/lato-latin-400italic.woff") format("woff"); /* Modern Browsers */
}

/* lato-700normal - latin */
@font-face {
	font-family: "Lato";
	font-style: normal;
	font-display: swap;
	font-weight: 700;
	src: local("Lato Bold "),
	local("Lato-Bold"),
	url("~typeface-lato/files/lato-latin-700.woff2") format("woff2"), /* Super Modern Browsers */
	url("~typeface-lato/files/lato-latin-700.woff") format("woff"); /* Modern Browsers */
}

/* lato-700italic - latin */
@font-face {
	font-family: "Lato";
	font-style: italic;
	font-display: swap;
	font-weight: 700;
	src: local("Lato Bold italic"),
	local("Lato-Bolditalic"),
	url("~typeface-lato/files/lato-latin-700italic.woff2") format("woff2"), /* Super Modern Browsers */
	url("~typeface-lato/files/lato-latin-700italic.woff") format("woff"); /* Modern Browsers */
}
