@import "~@angular/material/theming";
@import "~app/vars";

// Used by Material UI
.hidden {
	display: none;
}

.ag {
	&-rows,
	&-columns {
		display: flex;
	}

	// Children components are going to be rows
	&-rows {
		flex-direction: column;
	}

	// Children components are going to be columns
	&-columns {
		flex-direction: row;
	}

	// Behave like a flexible row
	&-flexible {
		flex: 1 1 auto;

		// Avoid expanding more than the parent's total height/width
		overflow: hidden;
	}

	&-secondaryText {
		color: mat-color(map-get($app-theme, foreground), hint-text);
	}
}
