<!-- START: Header of Named Fragments section -->
<h2 class="ui header">
	<i class="icons">
		<i class="puzzle green icon"></i>
		<i class="corner puzzle icon"></i>
	</i>
	Named Fragments
</h2>
<!-- START: Header of Named Fragments section -->


<div class="ui section divider"></div>


<!-- START: Tabs for opened Named Fragments-->
<div class="ui top attached tabular named-fragments menu">
	<a class="item active" data-tab="all-namedFragments">All Named Fragments</a>
	<a class="item"
	   *ngFor="let namedFragment of openedNamedFragments; let i = index;"
	   [ngClass]="{added:!!namedFragment.added, modified:!!namedFragment.modified}"
	   [attr.data-tab]="'named-fragment_'+getNormalizedUri(namedFragment?.name)">
		<p>
			{{ namedFragment?.name | getSlug}}
		</p>
		<button class="circular ui icon basic mini button" (click)="closeNamedFragment(namedFragment)">
			<i class="icon close"></i>
		</button>
	</a>
</div>
<!-- END: Tabs for opened Named Fragments-->


<!-- START: Tab listing all Named Fragments -->
<div class="ui bottom attached tab segment active" data-tab="all-namedFragments">
	<!-- END: Action buttons -->
	<button class="ui basic compact labeled right icon button" (click)="createNamedFragment()">
		<i class="plus icon"></i>
		Add Named Fragment
	</button>
	<!-- END: Action buttons -->


	<!-- START: Table listing all Named Fragment -->
	<table class="ui confirm-close small very compact striped selectable celled table" *ngIf="namedFragments.length > 0">
		<thead>
			<tr class="center aligned">
				<th>@id</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<ng-template ngFor let-namedFragment="$implicit" [ngForOf]="namedFragments" let-i="index">
				<tr [ngClass]="{ added:!!namedFragment.added, modified:!!namedFragment.modified }"
				    (click)="openNamedFragment(namedFragment)">
					<td>
						{{ namedFragment.name }}
					</td>
					<td class="center aligned">
						<div class="ui mini icon inverted edit value buttons">
							<button #editButton
							        class="ui basic edit button" title="Edit Named Fragment"
							        [ngClass]="{hidden:editButton.classList.contains('active')}"
							        (click)="openNamedFragment(namedFragment)">
								<i class="pencil icon"></i>
							</button>
							<button #deleteButton
							        class="ui basic button" title="Delete Named Fragment"
							        (click)="askToConfirmDeletion($event, namedFragment)">
								<i class="remove red icon"></i>
							</button>
						</div>
					</td>
				</tr>
			</ng-template>
		</tbody>
	</table>
	<!-- END: Table listing all Named Fragments -->


	<!-- START: No Named Fragments message -->
	<div class="ui message" *ngIf="!namedFragments || namedFragments.length===0">
		<p>No named fragments to show.</p>
	</div>
	<!-- END: No Named Fragments message -->
</div>
<!-- END: Tab listing all Named Fragments -->


<!-- START: Tab for opened Named Fragments -->
<div class="ui bottom attached tab segment"
     *ngFor="let namedFragment of openedNamedFragments; let i = index;" [attr.data-tab]="'named-fragment_'+getNormalizedUri(namedFragment.name)">
	<div class="ui divided items">
		<cw-named-fragment class="column"
		                   [documentURI]="documentURI"
		                   [blankNodes]="blankNodes"
		                   [namedFragment]="namedFragment"
		                   [namedFragments]="namedFragments"

		                   (onOpenBlankNode)="openBlankNode( $event )"
		                   (onOpenNamedFragment)="openNamedFragment($event)"
		                   (onChanges)="changeNamedFragment(namedFragment, i)">
		</cw-named-fragment>
	</div>
</div>
<!-- END: Tab for opened Named Fragments -->


<!-- START: Named Fragment deleter message -->
<div class="ui confirm-deletion inverted dimmer">
	<div class="content">
		<div class="center">
			<h2 class="ui header"><i class="trash outline red icon"></i> Are you sure?</h2>
			<p class="description">Confirm to delete the named fragment: '{{askingDeletionNamedFragment?.name}}'</p>
			<div class="ui red button" title="Confirm deletion" (click)="confirmDeletion()">Confirm</div>
			<div class="ui button" title="Cancel deletion" (click)="cancelDeletion()">Cancel</div>
		</div>
	</div>
</div>
<!-- END: Named Fragment deleter message -->