<form class="ui segment error form" #importForm="ngForm" cw-import-form-valid>
	<div class="ui two column middle aligned grid">
		<div class="column">
			<div class="field" [ngClass]="{error: (uri.touched && uri.control.hasError('invalidURIAddress'))}">
				<label>Enter the URI of the backup:</label>
				<div class="ui left icon input">
					<input type="text" placeholder="Backup URI" cw-uri name="uri" [(ngModel)]="importFormModel.uri" #uri="cwValidation" cwValidation (blur)="onInputLostFocus(uri)">
					<i class="world icon"></i>
				</div>
				<cw-error-label *ngIf="!uri.valid">
					<span *ngIf="uri.control.hasError('invalidURIAddress')">Enter a valid address. E.g: http://192.168.1.1 or http://www.domain.com</span>
				</cw-error-label>
			</div>
			<div class="field">
				<label>Or select a backup from below:</label>
				<select class="ui scrolling dropdown backups"
				        name="backup"
				        [(ngModel)]="importFormModel.backup"
				        #backup="cwValidation" cwValidation
				        required
				        (click)="getBackups()"
				        (blur)="onInputLostFocus( backup )"
				        [disabled]="backups.length===0">
					<option value="" *ngIf="backups.length>0" selected="selected">Please select a backup.</option>
					<option value="" *ngIf="backups.length===0" disabled="disabled" selected="selected">No available backups.</option>
					<option *ngFor="let backup of backups; let i=index" [attr.value]="backup.id">
						{{backup.modified | date:"MMM dd, yyyy - hh:mm:ss a"}}
					</option>
				</select>
			</div>
		</div>
		<div class="ui vertical divider">
			Or
		</div>
		<div class="column">
			<div class="field">
				<label>Upload a backup:</label>
				<input type="file" accept="application/zip" name="backupFile" [(ngModel)]="importFormModel.backupFile" #backupFile="ngModel"
				       [control]="backupFile"
				       [backupFileBlob]="backupFileBlob"
				       cw-backup-file
				       (blur)="onInputLostFocus(backupFile)"
				       (change)="onFileChange($event)"/><br/>
			</div>
			<cw-error-label *ngIf="!backupFile.valid">
				<span *ngIf="backupFile.control.hasError('invalidBackupFileFormat')">Invalid File. Please select only zip files.</span>
			</cw-error-label>
		</div>
	</div>
	<div class="ui one column grid">
		<div class="column">
			<button class="ui basic mini button"
			        [ngClass]="{loading: canDisplayImportButtonLoading(), green: !importForm.control.hasError('invalidForm')}"
			        [disabled]="running.active || importForm.control.hasError('invalidForm')"
			        (click)="onImportBackup(importForm)">
				<span *ngIf="uploading.active">Uploading File...</span>
				<span *ngIf="creating.active">Creating Job...</span>
				<span *ngIf="executing.active">Executing Job...</span>
				<span *ngIf="!uploading.active && !creating.active && !executing.active">Import</span>
			</button>
		</div>
		<div class="column" *ngIf="running.active">
			<div class="ui stackable fluid steps">
				<div class="step" *ngIf="!!backupFileBlob" [ngClass]="{active:uploading.active, completed:uploading.succeed}">
					<i class="icon" [ngClass]="{'minus grey': !uploading.done && !uploading.active && !uploading.failed, 'loading spinner':uploading.active, 'red remove':uploading.failed}"></i>
					<div class="content">
						<div class="title"><span *ngIf="!uploading.active">Upload</span><span *ngIf="uploading.active">Uploading...</span></div>
						<div class="description">Uploads your backup.</div>
					</div>
				</div>
				<div class="step" [ngClass]="{active:creating.active, completed:creating.succeed}">
					<i class="icon" [ngClass]="{'minus grey': !creating.done && !creating.active && !creating.failed, 'loading spinner':creating.active, 'red remove':creating.failed}"></i>
					<div class="content">
						<div class="title"><span *ngIf="!creating.active">Create</span><span *ngIf="creating.active">Creating import...</span></div>
						<div class="description">Creates a backup import job.</div>
					</div>
				</div>
				<div class="step" [ngClass]="{active:executing.active, completed:executing.succeed}">
					<i class="icon" [ngClass]="{'minus grey': !executing.done && !executing.active && !executing.failed, 'loading spinner':executing.active, 'red remove':executing.failed}"></i>
					<div class="content">
						<div class="title"><span *ngIf="!executing.active">Execute</span><span *ngIf="executing.active">Executing...</span></div>
						<div class="description">
							<p>Executes the created import job.<br/><span *ngIf="executing.active">Please, wait...</span></p>
						</div>
					</div>
				</div>
				<div class="step completed" *ngIf="executing.succeed">
					<i class="checkered flag icon"></i>
					<div class="content">
						<div class="title">Finished</div>
						<div class="description"><p>Import completed.</p>
							<button class="ui mini button" *ngIf="executing.done" (click)="finishImport()">Ok</button>
						</div>
					</div>
				</div>
				<div class="step" *ngIf="checkForFailedTasks()">
					<i class="red remove icon"></i>
					<div class="content">
						<div class="title">Failed</div>
						<div class="description">
							<p>
								<span *ngIf="uploading.failed">The upload of the backup failed.</span>
								<span *ngIf="creating.failed">Your backup job creation failed.</span>
								<span *ngIf="executing.failed">The import execution failed.</span>
								<br/>See the error for more details.
							</p>
							<button class="ui mini button" (click)="finishImport()">Ok</button>
						</div>
					</div>
				</div>
			</div>
			<cw-message *ngFor="let errorMessage of errorMessages; let i=index"
			            [type]="'error'"
			            [message]="errorMessage"
			            [closable]="true"
			            (onClose)="removeMessage(i)"></cw-message>
		</div>
	</div>
</form>