<button class="ui basic compact labeled right icon button" (click)="createProperty()" *ngIf="canEdit">
	<i class="plus icon"></i>
	Add Property
</button>
<div class="ui divided items">
	<ng-template ngFor let-propertyRow="$implicit" [ngForOf]="properties" let-i="index">
		<cw-property class="property item"
		             [attr.data-tar]="propertyRow.copy? propertyRow.copy.name : propertyRow.added.name"

		             [property]="propertyRow"
		             [bNodes]="blankNodes"
		             [namedFragments]="namedFragments"
		             [canEdit]="canEditProperty(propertyRow)"
		             [documentURI]="documentURI"
		             [existingProperties]="existingPropertiesNames"
		             [mode]="(!!propertyRow.isBeingCreated || !!propertyRow.isBeingModified || !!propertyRow.isBeingDeleted)? modes.EDIT : modes.READ"

		             (onChangeProperty)="changeProperty(propertyRow, i)"
		             (onDeleteProperty)="deleteProperty(propertyRow, i)"
		             (onSaveNewProperty)="addProperty(propertyRow, i)"
		             (onChangeNewProperty)="changeProperty(propertyRow, i)"
		             (onDeleteNewProperty)="deleteProperty(propertyRow, i)"

		             (onGoToBlankNode)="openBlankNode( $event )"
		             (onGoToNamedFragment)="openNamedFragment($event)">
		</cw-property>
	</ng-template>
</div>